# Week-01

In [1]:
getwd() #ディレクトリ確認getwd() #ディレクトリ確認

[1] "C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Answers"

In [2]:
# setwd() に入れる Path は上記のディレクトリの下の data ファイル
setwd("C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Answers/data") 
getwd() #ディレクトリ確認

[1] "C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Answers/data"

In [3]:
# DataFrameの準備
df <- read.csv("titanic3.csv", header=T)
df2 <- read.csv("data1.csv", header=T)
df3 <- read.csv("data1_2.csv", header=T)
df4 <- read.csv("data1_3.csv", header=T)
df5 <- read.csv("data2.csv", header=T, fileEncoding = "CP932")

# 基礎 (1 - 13)

In [4]:
# 【1】
# dfに読み込んだデータの最初の5行を表示# 【1】
# dfに読み込んだデータの最初の5行を表示

head(df,5) # default だと最初の６行を表示

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29.00
2 1      1        Allison, Master. Hudson Trevor                  male    0.92
3 1      0        Allison, Miss. Helen Loraine                    female  2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON

In [5]:
# 【2】
# dfに読み込んだデータの最後の5行を表示

tail(df,5) # 最後の５行を表示

     pclass survived name                      sex    age  sibsp parch ticket
1305 3      0        Zabour, Miss. Hileni      female 14.5 1     0     2665
1306 3      0        Zabour, Miss. Thamine     female   NA 1     0     2665
1307 3      0        Zakarian, Mr. Mapriededer male   26.5 0     0     2656
1308 3      0        Zakarian, Mr. Ortin       male   27.0 0     0     2670
1309 3      0        Zimmerman, Mr. Leo        male   29.0 0     0     315082
     fare    cabin embarked boat body home.dest
1305 14.4542       C             328
1306 14.4542       C              NA
1307  7.2250       C             304
1308  7.2250       C              NA
1309  7.8750       S              NA

In [6]:
# 【3】
# dfのDataFrameサイズを確認

dim(df)

[1] 1309   14

In [7]:
# 【4】
# inputフォルダ内のdata1.csvファイルを
# 読み込みdf2に格納して、最初の5行を表示

df2 <- read.csv("data1.csv", header=T)
head(df2,5)

  name class English Mathmatics History
1 A    1     80       55        65
2 B    1     55      100        83
3 C    2     65       70        95
4 D    1     40       63        70
5 E    2     76       82        79

In [8]:
# 【5】
# dfのfareの列で昇順に並び替えて表示

# 参考： http://taustation.com/r-dataframe-sort/
df[order(df$fare),]

     pclass survived
8    1      0
71   1      0
126  1      0
151  1      0
171  1      1
224  1      0
235  1      0
364  2      0
385  2      0
411  2      0
474  2      0
529  2      0
582  2      0
897  3      0
899  3      0
964  3      0
1255 3      1
1083 3      1
674  3      0
52   1      0
1069 3      0
961  3      0
1242 3      0
1243 3      0
869  3      0
889  3      0
1289 3      0
1290 3      0
695  3      0
860  3      0
...  ...    ...
25   1      1
107  1      0
286  1      0
287  1      0
11   1      0
12   1      1
24   1      1
104  1      1
238  1      0
17   1      0
18   1      1
98   1      1
36   1      1
67   1      1
250  1      1
251  1      1
252  1      1
253  1      0
254  1      1
112  1      1
113  1      1
114  1      1
115  1      0
116  1      0
117  1      1
50   1      1
51   1      1
184  1      1
303  1      1
1226 3      0
     name                                                            sex
8    Andrews, Mr. Thomas Jr                                          male
71   Chisholm, Mr. Roderick Robert Crispin                           male
126  Fry, Mr. Richard                                                male
151  Harrison, Mr. William                                           male
171  Ismay, Mr. Joseph Bruce                                         male
224  Parr, Mr. William Henry Marsh                                   male
235  Reuchlin, Jonkheer. John George                                 male
364  Campbell, Mr. William                                           male
385  Cunningham, Mr. Alfred Fleming                                  male
411  Frost, Mr. Anthony Wood "Archie"                                male
474  Knight, Mr. Robert J                                            male
529  Parkes, Mr. Francis "Frank"                                     male
582  Watson, Mr. Ennis Hastings                                      male
897  Johnson, Mr. Alfred                                             male
899  Johnson, Mr. William Cahoone Jr                                 male
964  Leonard, Mr. Lionel                                             male
1255 Tornquist, Mr. William Henry                                    male
1083 Olsen, Master. Artur Karl                                       male
674  Betros, Mr. Tannous                                             male
52   Carlsson, Mr. Frans Olof                                        male
1069 Nysveen, Mr. Johan Hansen                                       male
961  Lemberopolous, Mr. Peter L                                      male
1242 Thomas, Mr. Charles P                                           male
1243 Thomas, Mr. John                                                male
869  Holm, Mr. John Fredrik Alexander                                male
889  Johanson, Mr. Jakob Alfred                                      male
1289 Wiklund, Mr. Jakob Alfred                                       male
1290 Wiklund, Mr. Karl Johan                                         male
695  Burke, Mr. Jeremiah                                             male
860  Hegarty, Miss. Hanora "Nora"                                    female
...  ...                                                             ...
25   Bird, Miss. Ellen                                               female
107  Farthing, Mr. John                                              male
286  Straus, Mr. Isidor                                              male
287  Straus, Mrs. Isidor (Rosalie Ida Blun)                          female
11   Astor, Col. John Jacob                                          male
12   Astor, Mrs. John Jacob (Madeleine Talmadge Force)               female
24   Bidois, Miss. Rosalie                                           female
104  Endres, Miss. Caroline Louise                                   female
238  Robbins, Mr. Victor                                             male
17   Baxter, Mr. Quigg Edmond                                        male
18   Baxter, Mrs. James (Helene DeLaudeniere Chaput)                 female
98   Douglas, Mrs. Frederick Charles (Mary Helene Baxter)            female
36   Bowen, Miss. Grace Scott                                        female
67   Chaudanson, Miss. Victorine                                     female
250  Ryerson, Master. John Borie                                     male
251  Ryerson, Miss. Emily Borie                                      female
252  Ryerson, Miss. Susan Parker "Suzette"                           female
253  Ryerson, Mr. Arthur Larned                                      male
254  Ryerson, Mrs. Arthur Larned (Emily Maria Borie)                 female
112  Fortune, Miss. Alice Elizabeth                                  female
113  Fortune, Miss. Ethel Flora                                      female
114  Fortune, Miss. Mabel Helen                                      female
115  Fortune, Mr. Charles Alexander                                  male
116  Fortune, Mr. Mark                                               male
117  Fortune, Mrs. Mark (Mary McDougald)                             female
50   Cardeza, Mr. Thomas Drake Martinez                              male
51   Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake) female
184  Lesurer, Mr. Gustave J                                          male
303  Ward, Miss. Anna                                                female
1226 Storey, Mr. Thomas                                              male
     age  sibsp parch ticket   fare     cabin           embarked boat body
8    39.0 0     0     112050   0.0000   A36             S              NA
71     NA 0     0     112051   0.0000                   S              NA
126    NA 0     0     112058   0.0000   B102            S              NA
151  40.0 0     0     112059   0.0000   B94             S             110
171  49.0 0     0     112058   0.0000   B52 B54 B56     S        C     NA
224    NA 0     0     112052   0.0000                   S              NA
235  38.0 0     0     19972    0.0000                   S              NA
364    NA 0     0     239853   0.0000                   S              NA
385    NA 0     0     239853   0.0000                   S              NA
411    NA 0     0     239854   0.0000                   S              NA
474    NA 0     0     239855   0.0000                   S              NA
529    NA 0     0     239853   0.0000                   S              NA
582    NA 0     0     239856   0.0000                   S              NA
897  49.0 0     0     LINE     0.0000                   S              NA
899  19.0 0     0     LINE     0.0000                   S              NA
964  36.0 0     0     LINE     0.0000                   S              NA
1255 25.0 0     0     LINE     0.0000                   S        15    NA
1083  9.0 0     1     C 17368  3.1708                   S        13    NA
674  20.0 0     0     2648     4.0125                   C              NA
52   33.0 0     0     695      5.0000   B51 B53 B55     S              NA
1069 61.0 0     0     345364   6.2375                   S              NA
961  34.5 0     0     2683     6.4375                   C             196
1242   NA 1     0     2621     6.4375                   C              NA
1243   NA 0     0     2681     6.4375                   C              NA
869  43.0 0     0     C 7075   6.4500                   S              NA
889  34.0 0     0     3101264  6.4958                   S             143
1289 18.0 1     0     3101267  6.4958                   S             314
1290 21.0 1     0     3101266  6.4958                   S              NA
695  19.0 0     0     365222   6.7500                   Q              NA
860  18.0 0     0     365226   6.7500                   Q              NA
...  ...  ...   ...   ...      ...      ...             ...      ...  ...
25   29.0 0     0     PC 17483 221.7792 C97             S        8     NA
107    NA 0     0     PC 17483 221.7792 C95             S              NA
286  67.0 1     0     PC 17483 221.7792 C55 C57         S              96
287  63.0 1     0     PC 17483 221.7792 C55 C57         S              NA
11   47.0 1     0     PC 17757 227.5250 C62 C64         C             124
12   18.0 1     0     PC 17757 227.5250 C62 C64         C        4     NA
24   42.0 0     0     PC 17757 227.5250                 C        4     NA
104  38.0 0     0     PC 17757 227.5250 C45             C        4     NA
238    NA 0     0     PC 17757 227.5250                 C              NA
17   24.0 0     1     PC 17558 247.5208 B58 B60         C              NA
18   50.0 0     1     PC 17558 247.5208 B58 B60         C        6     NA
98   27.0 1     1     PC 17558 247.5208 B58 B60         C        6     NA
36   45.0 0     0     PC 17608 262.3750                 C        4     NA
67   36.0 0     0     PC 17608 262.3750 B61             C        4     NA
250  13.0 2     2     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
251  18.0 2     2     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
252  21.0 2     2     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
253  61.0 1     3     PC 17608 262.3750 B57 B59 B63 B66 C              NA
254  48.0 1     3     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
112  24.0 3     2     19950    263.0000 C23 C25 C27     S        10    NA
113  28.0 3     2     19950    263.0000 C23 C25 C27     S        10    NA
114  23.0 3     2     19950    263.0000 C23 C25 C27     S        10    NA
115  19.0 3     2     19950    263.0000 C23 C25 C27     S              NA
116  64.0 1     4     19950    263.0000 C23 C25 C27     S              NA
117  60.0 1     4     19950    263.0000 C23 C25 C27     S        10    NA
50   36.0 0     1     PC 17755 512.3292 B51 B53 B55     C        3     NA
51   58.0 0     1     PC 17755 512.3292 B51 B53 B55     C        3     NA
184  35.0 0     0     PC 17755 512.3292 B101            C        3     NA
303  35.0 0     0     PC 17755 512.3292                 C        3     NA
1226 60.5 0     0     3701           NA                 S             261
     home.dest
8    Belfast, NI
71   Liverpool, England / Belfast
126
151
171  Liverpool
224  Belfast
235  Rotterdam, Netherlands
364  Belfast
385  Belfast
411  Belfast
474  Belfast
529  Belfast
582  Belfast
897
899
964
1255
1083
674  Syria
52   New York, NY
1069
961
1242
1243
869
889
1289
1290
695  Co Cork, Ireland Charlestown, MA
860
...  ...
25
107
286  New York, NY
287  New York, NY
11   New York, NY
12   New York, NY
24
104  New York, NY
238
17   Montreal, PQ
18   Montreal, PQ
98   Montreal, PQ
36   Cooperstown, NY
67
250  Haverford, PA / Cooperstown, NY
251  Haverford, PA / Cooperstown, NY
252  Haverford, PA / Cooperstown, NY
253  Haverford, PA / Cooperstown, NY
254  Haverford, PA / Cooperstown, NY
112  Winnipeg, MB
113  Winnipeg, MB
114  Winnipeg, MB
115  Winnipeg, MB
116  Winnipeg, MB
117  Winnipeg, MB
50   Austria-Hungary / Germantown, Philadelphia, PA
51   Germantown, Philadelphia, PA
184
303
1226

In [9]:
# 降順
df[order(df$fare, decreasing=T),]

     pclass survived
50   1      1
51   1      1
184  1      1
303  1      1
112  1      1
113  1      1
114  1      1
115  1      0
116  1      0
117  1      1
36   1      1
67   1      1
250  1      1
251  1      1
252  1      1
253  1      0
254  1      1
17   1      0
18   1      1
98   1      1
11   1      0
12   1      1
24   1      1
104  1      1
238  1      0
25   1      1
107  1      0
286  1      0
287  1      0
130  1      1
...  ...    ...
860  3      0
889  3      0
1289 3      0
1290 3      0
869  3      0
961  3      0
1242 3      0
1243 3      0
1069 3      0
52   1      0
674  3      0
1083 3      1
8    1      0
71   1      0
126  1      0
151  1      0
171  1      1
224  1      0
235  1      0
364  2      0
385  2      0
411  2      0
474  2      0
529  2      0
582  2      0
897  3      0
899  3      0
964  3      0
1255 3      1
1226 3      0
     name                                                            sex
50   Cardeza, Mr. Thomas Drake Martinez                              male
51   Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake) female
184  Lesurer, Mr. Gustave J                                          male
303  Ward, Miss. Anna                                                female
112  Fortune, Miss. Alice Elizabeth                                  female
113  Fortune, Miss. Ethel Flora                                      female
114  Fortune, Miss. Mabel Helen                                      female
115  Fortune, Mr. Charles Alexander                                  male
116  Fortune, Mr. Mark                                               male
117  Fortune, Mrs. Mark (Mary McDougald)                             female
36   Bowen, Miss. Grace Scott                                        female
67   Chaudanson, Miss. Victorine                                     female
250  Ryerson, Master. John Borie                                     male
251  Ryerson, Miss. Emily Borie                                      female
252  Ryerson, Miss. Susan Parker "Suzette"                           female
253  Ryerson, Mr. Arthur Larned                                      male
254  Ryerson, Mrs. Arthur Larned (Emily Maria Borie)                 female
17   Baxter, Mr. Quigg Edmond                                        male
18   Baxter, Mrs. James (Helene DeLaudeniere Chaput)                 female
98   Douglas, Mrs. Frederick Charles (Mary Helene Baxter)            female
11   Astor, Col. John Jacob                                          male
12   Astor, Mrs. John Jacob (Madeleine Talmadge Force)               female
24   Bidois, Miss. Rosalie                                           female
104  Endres, Miss. Caroline Louise                                   female
238  Robbins, Mr. Victor                                             male
25   Bird, Miss. Ellen                                               female
107  Farthing, Mr. John                                              male
286  Straus, Mr. Isidor                                              male
287  Straus, Mrs. Isidor (Rosalie Ida Blun)                          female
130  Geiger, Miss. Amalie                                            female
...  ...                                                             ...
860  Hegarty, Miss. Hanora "Nora"                                    female
889  Johanson, Mr. Jakob Alfred                                      male
1289 Wiklund, Mr. Jakob Alfred                                       male
1290 Wiklund, Mr. Karl Johan                                         male
869  Holm, Mr. John Fredrik Alexander                                male
961  Lemberopolous, Mr. Peter L                                      male
1242 Thomas, Mr. Charles P                                           male
1243 Thomas, Mr. John                                                male
1069 Nysveen, Mr. Johan Hansen                                       male
52   Carlsson, Mr. Frans Olof                                        male
674  Betros, Mr. Tannous                                             male
1083 Olsen, Master. Artur Karl                                       male
8    Andrews, Mr. Thomas Jr                                          male
71   Chisholm, Mr. Roderick Robert Crispin                           male
126  Fry, Mr. Richard                                                male
151  Harrison, Mr. William                                           male
171  Ismay, Mr. Joseph Bruce                                         male
224  Parr, Mr. William Henry Marsh                                   male
235  Reuchlin, Jonkheer. John George                                 male
364  Campbell, Mr. William                                           male
385  Cunningham, Mr. Alfred Fleming                                  male
411  Frost, Mr. Anthony Wood "Archie"                                male
474  Knight, Mr. Robert J                                            male
529  Parkes, Mr. Francis "Frank"                                     male
582  Watson, Mr. Ennis Hastings                                      male
897  Johnson, Mr. Alfred                                             male
899  Johnson, Mr. William Cahoone Jr                                 male
964  Leonard, Mr. Lionel                                             male
1255 Tornquist, Mr. William Henry                                    male
1226 Storey, Mr. Thomas                                              male
     age  sibsp parch ticket   fare     cabin           embarked boat body
50   36   0     1     PC 17755 512.3292 B51 B53 B55     C        3     NA
51   58   0     1     PC 17755 512.3292 B51 B53 B55     C        3     NA
184  35   0     0     PC 17755 512.3292 B101            C        3     NA
303  35   0     0     PC 17755 512.3292                 C        3     NA
112  24   3     2     19950    263.0000 C23 C25 C27     S        10    NA
113  28   3     2     19950    263.0000 C23 C25 C27     S        10    NA
114  23   3     2     19950    263.0000 C23 C25 C27     S        10    NA
115  19   3     2     19950    263.0000 C23 C25 C27     S              NA
116  64   1     4     19950    263.0000 C23 C25 C27     S              NA
117  60   1     4     19950    263.0000 C23 C25 C27     S        10    NA
36   45   0     0     PC 17608 262.3750                 C        4     NA
67   36   0     0     PC 17608 262.3750 B61             C        4     NA
250  13   2     2     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
251  18   2     2     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
252  21   2     2     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
253  61   1     3     PC 17608 262.3750 B57 B59 B63 B66 C              NA
254  48   1     3     PC 17608 262.3750 B57 B59 B63 B66 C        4     NA
17   24   0     1     PC 17558 247.5208 B58 B60         C              NA
18   50   0     1     PC 17558 247.5208 B58 B60         C        6     NA
98   27   1     1     PC 17558 247.5208 B58 B60         C        6     NA
11   47   1     0     PC 17757 227.5250 C62 C64         C             124
12   18   1     0     PC 17757 227.5250 C62 C64         C        4     NA
24   42   0     0     PC 17757 227.5250                 C        4     NA
104  38   0     0     PC 17757 227.5250 C45             C        4     NA
238  NA   0     0     PC 17757 227.5250                 C              NA
25   29   0     0     PC 17483 221.7792 C97             S        8     NA
107  NA   0     0     PC 17483 221.7792 C95             S              NA
286  67   1     0     PC 17483 221.7792 C55 C57         S              96
287  63   1     0     PC 17483 221.7792 C55 C57         S              NA
130  35   0     0     113503   211.5000 C130            C        4     NA
...  ...  ...   ...   ...      ...      ...             ...      ...  ...
860  18.0 0     0     365226   6.7500                   Q              NA
889  34.0 0     0     3101264  6.4958                   S             143
1289 18.0 1     0     3101267  6.4958                   S             314
1290 21.0 1     0     3101266  6.4958                   S              NA
869  43.0 0     0     C 7075   6.4500                   S              NA
961  34.5 0     0     2683     6.4375                   C             196
1242   NA 1     0     2621     6.4375                   C              NA
1243   NA 0     0     2681     6.4375                   C              NA
1069 61.0 0     0     345364   6.2375                   S              NA
52   33.0 0     0     695      5.0000   B51 B53 B55     S              NA
674  20.0 0     0     2648     4.0125                   C              NA
1083  9.0 0     1     C 17368  3.1708                   S        13    NA
8    39.0 0     0     112050   0.0000   A36             S              NA
71     NA 0     0     112051   0.0000                   S              NA
126    NA 0     0     112058   0.0000   B102            S              NA
151  40.0 0     0     112059   0.0000   B94             S             110
171  49.0 0     0     112058   0.0000   B52 B54 B56     S        C     NA
224    NA 0     0     112052   0.0000                   S              NA
235  38.0 0     0     19972    0.0000                   S              NA
364    NA 0     0     239853   0.0000                   S              NA
385    NA 0     0     239853   0.0000                   S              NA
411    NA 0     0     239854   0.0000                   S              NA
474    NA 0     0     239855   0.0000                   S              NA
529    NA 0     0     239853   0.0000                   S              NA
582    NA 0     0     239856   0.0000                   S              NA
897  49.0 0     0     LINE     0.0000                   S              NA
899  19.0 0     0     LINE     0.0000                   S              NA
964  36.0 0     0     LINE     0.0000                   S              NA
1255 25.0 0     0     LINE     0.0000                   S        15    NA
1226 60.5 0     0     3701         NA                   S             261
     home.dest
50   Austria-Hungary / Germantown, Philadelphia, PA
51   Germantown, Philadelphia, PA
184
303
112  Winnipeg, MB
113  Winnipeg, MB
114  Winnipeg, MB
115  Winnipeg, MB
116  Winnipeg, MB
117  Winnipeg, MB
36   Cooperstown, NY
67
250  Haverford, PA / Cooperstown, NY
251  Haverford, PA / Cooperstown, NY
252  Haverford, PA / Cooperstown, NY
253  Haverford, PA / Cooperstown, NY
254  Haverford, PA / Cooperstown, NY
17   Montreal, PQ
18   Montreal, PQ
98   Montreal, PQ
11   New York, NY
12   New York, NY
24
104  New York, NY
238
25
107
286  New York, NY
287  New York, NY
130
...  ...
860
889
1289
1290
869
961
1242
1243
1069
52   New York, NY
674  Syria
1083
8    Belfast, NI
71   Liverpool, England / Belfast
126
151
171  Liverpool
224  Belfast
235  Rotterdam, Netherlands
364  Belfast
385  Belfast
411  Belfast
474  Belfast
529  Belfast
582  Belfast
897
899
964
1255
1226

In [10]:
# 【6】
# df_copyにdfをコピーして、最初の5行を表示

df_copy <- df
head(df,5)

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29.00
2 1      1        Allison, Master. Hudson Trevor                  male    0.92
3 1      0        Allison, Miss. Helen Loraine                    female  2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON

In [11]:
df_copy <- df_copy[0:2]
head(df_copy,5)

  pclass survived
1 1      1
2 1      1
3 1      0
4 1      0
5 1      0

In [12]:
head(df,5)

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29.00
2 1      1        Allison, Master. Hudson Trevor                  male    0.92
3 1      0        Allison, Miss. Helen Loraine                    female  2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON

### 結論：Rでは deep copy（値渡しを行っている）
https://dichika.hateblo.jp/entry/20151223/p1  
http://www.singularpoint.org/blog/r/r-call-by-value-or-reference/

In [13]:
# 【7】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認

str(df)
print("-------------------")
str(df["cabin"])
print("-------------------")
str(df$cabin)
print("-------------------")
str(df[10]) # R の列のインデックスは１から始まる

'data.frame':	1309 obs. of  14 variables:
 $ pclass   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survived : int  1 1 0 0 0 1 1 0 1 0 ...
 $ name     : Factor w/ 1307 levels "Abbing, Mr. Anthony",..: 22 24 25 26 27 31 46 47 51 55 ...
 $ sex      : Factor w/ 2 levels "female","male": 1 2 1 2 1 2 1 2 1 2 ...
 $ age      : num  29 0.92 2 30 25 48 63 39 53 71 ...
 $ sibsp    : int  0 1 1 1 1 0 1 0 2 0 ...
 $ parch    : int  0 2 2 2 2 0 0 0 0 0 ...
 $ ticket   : Factor w/ 929 levels "110152","110413",..: 188 50 50 50 50 125 93 16 77 826 ...
 $ fare     : num  211 152 152 152 152 ...
 $ cabin    : Factor w/ 187 levels "","A10","A11",..: 45 81 81 81 81 151 147 17 63 1 ...
 $ embarked : Factor w/ 4 levels "","C","Q","S": 4 4 4 4 4 4 4 4 4 2 ...
 $ boat     : Factor w/ 28 levels "","1","10","11",..: 13 4 1 1 1 14 3 1 28 1 ...
 $ body     : int  NA NA NA 135 NA NA NA NA NA 22 ...
 $ home.dest: Factor w/ 370 levels "","?Havana, Cuba",..: 310 232 232 232 232 238 163 25 23 230 ...
[1] "-------------------"
'data.frame':	1309 obs. of  1 variable:
 $ cabin: Factor w/ 187 levels "","A10","A11",..: 45 81 81 81 81 151 147 17 63 1 ...
[1] "-------------------"
 Factor w/ 187 levels "","A10","A11",..: 45 81 81 81 81 151 147 17 63 1 ...
[1] "-------------------"
'data.frame':	1309 obs. of  1 variable:
 $ cabin: Factor w/ 187 levels "","A10","A11",..: 45 81 81 81 81 151 147 17 63 1 ...

In [14]:
# class() を使うとこうなる
class(df)
print("-------------------")
class(df["cabin"])
print("-------------------")
class(df$cabin)
print("-------------------")
class(df[10]) # R の列のインデックスは１から始まる

[1] "data.frame"

[1] "-------------------"

[1] "data.frame"

[1] "-------------------"

[1] "factor"

[1] "-------------------"

[1] "data.frame"

In [15]:
# 【8】
# ① dfのpclassの列のデータ型をdtypeで確認
# ② 数値型から文字型に変換し、データ型をdtypeで確認

class(df$pclass)

[1] "integer"

In [16]:
# http://cse.naro.affrc.go.jp/takezawa/r-tips/r/25.html
df$pclass <- as.character(df$pclass)
class(df$pclass)

[1] "character"

In [17]:
# 【9】
# dfのレコード数(行数)を確認

nrow(df)

[1] 1309

In [18]:
# 列数は
ncol(df)

[1] 14

In [19]:
# 【10】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認

str(df)

'data.frame':	1309 obs. of  14 variables:
 $ pclass   : chr  "1" "1" "1" "1" ...
 $ survived : int  1 1 0 0 0 1 1 0 1 0 ...
 $ name     : Factor w/ 1307 levels "Abbing, Mr. Anthony",..: 22 24 25 26 27 31 46 47 51 55 ...
 $ sex      : Factor w/ 2 levels "female","male": 1 2 1 2 1 2 1 2 1 2 ...
 $ age      : num  29 0.92 2 30 25 48 63 39 53 71 ...
 $ sibsp    : int  0 1 1 1 1 0 1 0 2 0 ...
 $ parch    : int  0 2 2 2 2 0 0 0 0 0 ...
 $ ticket   : Factor w/ 929 levels "110152","110413",..: 188 50 50 50 50 125 93 16 77 826 ...
 $ fare     : num  211 152 152 152 152 ...
 $ cabin    : Factor w/ 187 levels "","A10","A11",..: 45 81 81 81 81 151 147 17 63 1 ...
 $ embarked : Factor w/ 4 levels "","C","Q","S": 4 4 4 4 4 4 4 4 4 2 ...
 $ boat     : Factor w/ 28 levels "","1","10","11",..: 13 4 1 1 1 14 3 1 28 1 ...
 $ body     : int  NA NA NA 135 NA NA NA NA NA 22 ...
 $ home.dest: Factor w/ 370 levels "","?Havana, Cuba",..: 310 232 232 232 232 238 163 25 23 230 ...

In [20]:
# str() には欠損値情報がはいっていないので
colSums(is.na(df))

   pclass  survived      name       sex       age     sibsp     parch    ticket
        0         0         0         0       263         0         0         0
     fare     cabin  embarked      boat      body home.dest
        1         0         0         0      1188         0