# Week-03

In [1]:
getwd() #ディレクトリ確認getwd() #ディレクトリ確認

[1] "C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Answers"

In [2]:
# setwd() に入れる Path は上記のディレクトリの下の data ファイル
setwd("C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Answers/data") 
getwd() #ディレクトリ確認

[1] "C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Answers/data"

In [3]:
# DataFrameの準備
df <- read.csv("titanic3.csv", header=T)
df2 <- read.csv("data1.csv", header=T)
df3 <- read.csv("data1_2.csv", header=T)
df4 <- read.csv("data1_3.csv", header=T)
df5 <- read.csv("data2.csv", header=T, fileEncoding = "CP932")

In [4]:
head(df)

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29.00
2 1      1        Allison, Master. Hudson Trevor                  male    0.92
3 1      0        Allison, Miss. Helen Loraine                    female  2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25.00
6 1      1        Anderson, Mr. Harry                             male   48.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
6 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

### データ抽出 (14 - 32)

In [5]:
# 【21】
# locを使ってdfのnameとticketの列をすべて表示 --> Python限定
# ６行のみ表示に変更

head(df[,c("name", "ticket")])
# 解説： c(A,B) でベクトルを作って列を抽出
# https://htsuda.net/stats/dataset.html

  name                                            ticket
1 Allen, Miss. Elisabeth Walton                   24160
2 Allison, Master. Hudson Trevor                  113781
3 Allison, Miss. Helen Loraine                    113781
4 Allison, Mr. Hudson Joshua Creighton            113781
5 Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 113781
6 Anderson, Mr. Harry                             19952

In [6]:
# 【22】
# locを使ってdfのnameからcabinまでの列をすべて表示 --> Python限定
# ６行のみ表示に変更

head(df[,3:10])

  name                                            sex    age   sibsp parch
1 Allen, Miss. Elisabeth Walton                   female 29.00 0     0
2 Allison, Master. Hudson Trevor                  male    0.92 1     2
3 Allison, Miss. Helen Loraine                    female  2.00 1     2
4 Allison, Mr. Hudson Joshua Creighton            male   30.00 1     2
5 Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25.00 1     2
6 Anderson, Mr. Harry                             male   48.00 0     0
  ticket fare     cabin
1 24160  211.3375 B5
2 113781 151.5500 C22 C26
3 113781 151.5500 C22 C26
4 113781 151.5500 C22 C26
5 113781 151.5500 C22 C26
6 19952   26.5500 E12

In [7]:
# 【23】
# ilocを使ってdfのage列を5行目まで表示

df[1:5,5]

[1] 29.00  0.92  2.00 30.00 25.00

In [8]:
# 【24】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力

df_copy <- df[c("name", "age", "sex")]
head(df_copy)

  name                                            age   sex
1 Allen, Miss. Elisabeth Walton                   29.00 female
2 Allison, Master. Hudson Trevor                   0.92 male
3 Allison, Miss. Helen Loraine                     2.00 female
4 Allison, Mr. Hudson Joshua Creighton            30.00 male
5 Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 25.00 female
6 Anderson, Mr. Harry                             48.00 male

In [9]:
# https://a-habakiri.hateblo.jp/entry/2016/12/12/222806
setwd("C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Answers/data") 
write.csv(df_copy, "df_copy.csv")

In [10]:
# ファイルが出来ているか確認
df_copy <- read.csv("df_copy.csv")
head(df_copy)

  X name                                            age   sex
1 1 Allen, Miss. Elisabeth Walton                   29.00 female
2 2 Allison, Master. Hudson Trevor                   0.92 male
3 3 Allison, Miss. Helen Loraine                     2.00 female
4 4 Allison, Mr. Hudson Joshua Creighton            30.00 male
5 5 Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 25.00 female
6 6 Anderson, Mr. Harry                             48.00 male

In [11]:
# write.csv() で出力するとインデックスの列ができます。（変更はできない）

In [12]:
# 【25】
# dfのage列の値が30以上のデータのみ抽出

df[df$age>=30,]
# https://a-habakiri.hateblo.jp/entry/2016/12/12/222806

       pclass survived name
4       1      0       Allison, Mr. Hudson Joshua Creighton
6       1      1       Anderson, Mr. Harry
7       1      1       Andrews, Miss. Kornelia Theodosia
8       1      0       Andrews, Mr. Thomas Jr
9       1      1       Appleton, Mrs. Edward Dale (Charlotte Lamson)
10      1      0       Artagaveytia, Mr. Ramon
11      1      0       Astor, Col. John Jacob
15      1      1       Barkworth, Mr. Algernon Henry Wilson
NA     NA     NA       NA
18      1      1       Baxter, Mrs. James (Helene DeLaudeniere Chaput)
19      1      1       Bazzani, Miss. Albina
20      1      0       Beattie, Mr. Thomson
21      1      1       Beckwith, Mr. Richard Leonard
22      1      1       Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
24      1      1       Bidois, Miss. Rosalie
29      1      1       Bissette, Miss. Amelia
31      1      0       Blackwell, Mr. Stephen Weart
32      1      1       Blank, Mr. Henry
33      1      1       Bonnell, Miss. Caroline
34      1      1       Bonnell, Miss. Elizabeth
35      1      0       Borebank, Mr. John James
36      1      1       Bowen, Miss. Grace Scott
NA.1   NA     NA       NA
39      1      0       Brady, Mr. John Bertram
40      1      0       Brandeis, Mr. Emil
NA.2   NA     NA       NA
42      1      1       Brown, Mrs. James Joseph (Margaret Tobin)
43      1      1       Brown, Mrs. John Murray (Caroline Lane Lamson)
44      1      1       Bucknell, Mrs. William Robert (Emma Eliza Ward)
45      1      1       Burns, Miss. Elizabeth Margaret
...    ...    ...      ...
1253    3      0       Torber, Mr. Ernst William
NA.249 NA     NA       NA
NA.250 NA     NA       NA
1260    3      0       Turcin, Mr. Stjepan
1262    3      1       Turkula, Mrs. (Hedwig)
NA.251 NA     NA       NA
1265    3      0       van Billiard, Mr. Austin Blyler
1267    3      0       Van Impe, Mr. Jean Baptiste
1268    3      0       Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)
NA.252 NA     NA       NA
1270    3      0       Vande Velde, Mr. Johannes Joseph
1273    3      0       Vander Cruyssen, Mr. Victor
1275    3      0       Vander Planke, Mr. Julius
1277    3      0       Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
NA.253 NA     NA       NA
NA.254 NA     NA       NA
NA.255 NA     NA       NA
1286    3      0       Wenzel, Mr. Linhart
1287    3      1       Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1288    3      0       Widegren, Mr. Carl/Charles Peter
1291    3      1       Wilkes, Mrs. James (Ellen Needs)
NA.256 NA     NA       NA
NA.257 NA     NA       NA
NA.258 NA     NA       NA
NA.259 NA     NA       NA
1299    3      0       Wittevrongel, Mr. Camille
1302    3      0       Youseff, Mr. Gerious
NA.260 NA     NA       NA
NA.261 NA     NA       NA
NA.262 NA     NA       NA
       sex    age  sibsp parch ticket   fare     cabin   embarked boat body
4      male   30    1     2    113781   151.5500 C22 C26 S             135
6      male   48    0     0    19952     26.5500 E12     S        3     NA
7      female 63    1     0    13502     77.9583 D7      S        10    NA
8      male   39    0     0    112050     0.0000 A36     S              NA
9      female 53    2     0    11769     51.4792 C101    S        D     NA
10     male   71    0     0    PC 17609  49.5042         C              22
11     male   47    1     0    PC 17757 227.5250 C62 C64 C             124
15     male   80    0     0    27042     30.0000 A23     S        B     NA
NA     NA     NA   NA    NA    NA             NA NA      NA       NA    NA
18     female 50    0     1    PC 17558 247.5208 B58 B60 C        6     NA
19     female 32    0     0    11813     76.2917 D15     C        8     NA
20     male   36    0     0    13050     75.2417 C6      C        A     NA
21     male   37    1     1    11751     52.5542 D35     S        5     NA
22     female 47    1     1    11751     52.5542 D35     S        5     NA
24     female 42    0     0    PC 17757 227.5250         C        4     NA
29     female 35    0     0    PC 17760 135.6333 C99     S        8     NA
31     male   45    0     0    113784    35.5000 T       S              NA
32     male   40    0     0    112277    31.0000 A31     C        7     NA
33     female 30    0     0    36928    164.8667 C7      S        8     NA
34     female 58    0     0    113783    26.5500 C103    S        8     NA
35     male   42    0     0    110489    26.5500 D22     S              NA
36     female 45    0     0    PC 17608 262.3750         C        4     NA
NA.1   NA     NA   NA    NA    NA             NA NA      NA       NA    NA
39     male   41    0     0    113054    30.5000 A21     S              NA
40     male   48    0     0    PC 17591  50.4958 B10     C             208
NA.2   NA     NA   NA    NA    NA             NA NA      NA       NA    NA
42     female 44    0     0    PC 17610  27.7208 B4      C        6     NA
43     female 59    2     0    11769     51.4792 C101    S        D     NA
44     female 60    0     0    11813     76.2917 D15     C        8     NA
45     female 41    0     0    16966    134.5000 E40     C        3     NA
...    ...    ...  ...   ...   ...      ...      ...     ...      ...  ...
1253   male   44.0  0     0    364511    8.0500          S              NA
NA.249 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.250 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
1260   male   36.0  0     0    349247    7.8958          S              NA
1262   female 63.0  0     0    4134      9.5875          S        15    NA
NA.251 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
1265   male   40.5  0     2    A/5. 851 14.5000          S             255
1267   male   36.0  1     1    345773   24.1500          S              NA
1268   female 30.0  1     1    345773   24.1500          S              NA
NA.252 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
1270   male   33.0  0     0    345780    9.5000          S              NA
1273   male   47.0  0     0    345765    9.0000          S              NA
1275   male   31.0  3     0    345763   18.0000          S              NA
1277   female 31.0  1     0    345763   18.0000          S              NA
NA.253 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.254 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.255 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
1286   male   32.5  0     0    345775    9.5000          S             298
1287   female 38.0  0     0    2688      7.2292          C        C     NA
1288   male   51.0  0     0    347064    7.7500          S              NA
1291   female 47.0  1     0    363272    7.0000          S              NA
NA.256 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.257 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.258 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.259 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
1299   male   36.0  0     0    345771    9.5000          S              NA
1302   male   45.5  0     0    2628      7.2250          C             312
NA.260 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.261 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
NA.262 NA       NA NA    NA    NA            NA  NA      NA       NA    NA
       home.dest
4      Montreal, PQ / Chesterville, ON
6      New York, NY
7      Hudson, NY
8      Belfast, NI
9      Bayside, Queens, NY
10     Montevideo, Uruguay
11     New York, NY
15     Hessle, Yorks
NA     NA
18     Montreal, PQ
19
20     Winnipeg, MN
21     New York, NY
22     New York, NY
24
29
31     Trenton, NJ
32     Glen Ridge, NJ
33     Youngstown, OH
34     Birkdale, England Cleveland, Ohio
35     London / Winnipeg, MB
36     Cooperstown, NY
NA.1   NA
39     Pomeroy, WA
40     Omaha, NE
NA.2   NA
42     Denver, CO
43     Belmont, MA
44     Philadelphia, PA
45
...    ...
1253
NA.249 NA
NA.250 NA
1260
1262
NA.251 NA
1265
1267
1268
NA.252 NA
1270
1273
1275
1277
NA.253 NA
NA.254 NA
NA.255 NA
1286
1287
1288
1291
NA.256 NA
NA.257 NA
NA.258 NA
NA.259 NA
1299
1302
NA.260 NA
NA.261 NA
NA.262 NA

In [13]:
# 欠損値が含まれる行を全て削除する方法
# しかしこれでは年齢以外の箇所に欠損値がある場合も削除されてしまう。--> 課題
na.omit(df[df$age>=30,])
# https://stats.biopapyrus.jp/r/basic/nan.html

     pclass survived name                                           sex    age
4    1      0        Allison, Mr. Hudson Joshua Creighton           male   30.0
10   1      0        Artagaveytia, Mr. Ramon                        male   71.0
11   1      0        Astor, Col. John Jacob                         male   47.0
40   1      0        Brandeis, Mr. Emil                             male   48.0
61   1      0        Cavendish, Mr. Tyrell William                  male   36.0
82   1      0        Crosby, Capt. Edward Gifford                   male   70.0
97   1      0        Douglas, Mr. Walter Donald                     male   50.0
102  1      0        Dulles, Mr. William Crothers                   male   39.0
129  1      0        Gee, Mr. Arthur H                              male   47.0
139  1      0        Graham, Mr. George Edward                      male   38.0
151  1      0        Harrison, Mr. William                          male   40.0
155  1      0        Hays, Mr. Charles Melville                     male   55.0
163  1      0        Holverson, Mr. Alexander Oskar                 male   42.0
172  1      0        Jones, Mr. Charles Cresson                     male   46.0
174  1      0        Keeping, Mr. Edwin                             male   32.5
175  1      0        Kent, Mr. Edward Austin                        male   58.0
201  1      0        McCaffry, Mr. Thomas Francis                   male   46.0
202  1      0        McCarthy, Mr. Timothy J                        male   54.0
206  1      0        Millet, Mr. Francis Davis                      male   65.0
207  1      0        Minahan, Dr. William Edward                    male   44.0
216  1      0        Newell, Mr. Arthur Webster                     male   58.0
218  1      0        Nicholson, Mr. Arthur Ernest                   male   64.0
222  1      0        Ostby, Mr. Engelhart Cornelius                 male   65.0
225  1      0        Partner, Mr. Austen                            male   45.5
233  1      0        Porter, Mr. Walter Chamberlain                 male   47.0
244  1      0        Rosenshine, Mr. George ("Mr George Thorne")    male   46.0
249  1      0        Rowe, Mr. Alfred G                             male   33.0
286  1      0        Straus, Mr. Isidor                             male   67.0
288  1      0        Sutton, Mr. Frederick                          male   61.0
301  1      0        Van der hoef, Mr. Wyckoff                      male   61.0
...  ...    ...      ...                                            ...    ...
499  2      0        McCrae, Mr. Arthur Gordon                      male   32.0
506  2      0        Milling, Mr. Jacob Christian                   male   48.0
513  2      0        Nasser, Mr. Nicholas                           male   32.5
517  2      0        Navratil, Mr. Michel ("Louis M Hoffman")       male   36.5
609  3      0        Adahl, Mr. Mauritz Nils Martin                 male   30.0
621  3      0        Andersen, Mr. Albert Karvin                    male   32.0
645  3      0        Asplund, Mr. Carl Oscar Vilhelm Gustafsson     male   40.0
728  3      0        Connors, Mr. Patrick                           male   70.5
749  3      0        Danbom, Mr. Ernst Gilbert                      male   34.0
782  3      0        Drazenoic, Mr. Jozef                           male   33.0
797  3      0        Everett, Mr. Thomas James                      male   40.5
798  3      0        Farrell, Mr. James                             male   40.5
838  3      0        Gustafsson, Mr. Anders Vilhelm                 male   37.0
874  3      0        Humblen, Mr. Adolf Mathias Nicolai Olsen       male   42.0
889  3      0        Johanson, Mr. Jakob Alfred                     male   34.0
892  3      0        Johansson, Mr. Gustaf Joel                     male   33.0
898  3      0        Johnson, Mr. Malkolm Joackim                   male   33.0
925  3      0        Kelly, Mr. James                               male   34.5
961  3      0        Lemberopolous, Mr. Peter L                     male   34.5
993  3      0        Mangan, Miss. Mary                             female 30.5
1016 3      0        Meo, Mr. Alfonzo                               male   55.5
1147 3      0        Rice, Mrs. William (Margaret Norton)           female 39.0
1153 3      0        Robins, Mr. Alexander A                        male   50.0
1154 3      0        Robins, Mrs. Alexander A (Grace Charity Laury) female 47.0
1170 3      0        Saether, Mr. Simon Sivertsen                   male   38.5
1240 3      0        Theobald, Mr. Thomas Leonard                   male   34.0
1252 3      0        Tomlin, Mr. Ernest Portage                     male   30.5
1265 3      0        van Billiard, Mr. Austin Blyler                male   40.5
1286 3      0        Wenzel, Mr. Linhart                            male   32.5
1302 3      0        Youseff, Mr. Gerious                           male   45.5
     sibsp parch ticket             fare     cabin   embarked boat body
4    1     2     113781             151.5500 C22 C26 S             135
10   0     0     PC 17609            49.5042         C              22
11   1     0     PC 17757           227.5250 C62 C64 C             124
40   0     0     PC 17591            50.4958 B10     C             208
61   1     0     19877               78.8500 C46     S             172
82   1     1     WE/P 5735           71.0000 B22     S             269
97   1     0     PC 17761           106.4250 C86     C              62
102  0     0     PC 17580            29.7000 A18     C             133
129  0     0     111320              38.5000 E63     S             275
139  0     1     PC 17582           153.4625 C91     S             147
151  0     0     112059               0.0000 B94     S             110
155  1     1     12749               93.5000 B69     S             307
163  1     0     113789              52.0000         S              38
172  0     0     694                 26.0000         S              80
174  0     0     113503             211.5000 C132    C              45
175  0     0     11771               29.7000 B37     C             258
201  0     0     13050               75.2417 C6      C             292
202  0     0     17463               51.8625 E46     S             175
206  0     0     13509               26.5500 E38     S             249
207  2     0     19928               90.0000 C78     Q             230
216  0     2     35273              113.2750 D48     C             122
218  0     0     693                 26.0000         S             263
222  0     1     113509              61.9792 B30     C             234
225  0     0     113043              28.5000 C124    S             166
233  0     0     110465              52.0000 C110    S             207
244  0     0     PC 17585            79.2000         C              16
249  0     0     113790              26.5500         S             109
286  1     0     PC 17483           221.7792 C55 C57 S              96
288  0     0     36963               32.3208 D50     S              46
301  0     0     111240              33.5000 B19     S             245
...  ...   ...   ...                ...      ...     ...      ...  ...
499  0     0     237216             13.5000          S             209
506  0     0     234360             13.0000          S             271
513  1     0     237736             30.0708          C              43
517  0     2     230080             26.0000  F2      S              15
609  0     0     C 7076              7.2500          S              72
621  0     0     C 4001             22.5250          S             260
645  1     5     347077             31.3875          S             142
728  0     0     370369              7.7500          Q             171
749  1     1     347080             14.4000          S             197
782  0     0     349241              7.8958          C              51
797  0     0     C.A. 6212          15.1000          S             187
798  0     0     367232              7.7500          Q              68
838  2     0     3101276             7.9250          S              98
874  0     0     348121              7.6500  F G63   S             120
889  0     0     3101264             6.4958          S             143
892  0     0     7540                8.6542          S             285
898  0     0     347062              7.7750          S              37
925  0     0     330911              7.8292          Q              70
961  0     0     2683                6.4375          C             196
993  0     0     364850              7.7500          Q              61
1016 0     0     A.5. 11206          8.0500          S             201
1147 0     5     382652             29.1250          Q             327
1153 1     0     A/5. 3337          14.5000          S             119
1154 1     0     A/5. 3337          14.5000          S               7
1170 0     0     SOTON/O.Q. 3101262  7.2500          S              32
1240 0     0     363294              8.0500          S             176
1252 0     0     364499              8.0500          S              50
1265 0     2     A/5. 851           14.5000          S             255
1286 0     0     345775              9.5000          S             298
1302 0     0     2628                7.2250          C             312
     home.dest
4    Montreal, PQ / Chesterville, ON
10   Montevideo, Uruguay
11   New York, NY
40   Omaha, NE
61   Little Onn Hall, Staffs
82   Milwaukee, WI
97   Deephaven, MN / Cedar Rapids, IA
102  Philadelphia, PA
129  St Anne's-on-Sea, Lancashire
139  Winnipeg, MB
151
155  Montreal, PQ
163  New York, NY
172  Bennington, VT
174
175  Buffalo, NY
201  Vancouver, BC
202  Dorchester, MA
206  East Bridgewater, MA
207  Fond du Lac, WI
216  Lexington, MA
218  Isle of Wight, England
222  Providence, RI
225  Surbiton Hill, Surrey
233  Worcester, MA
244  New York, NY
249  London
286  New York, NY
288  Haddenfield, NJ
301  Brooklyn, NY
...  ...
499  Sydney, Australia
506  Copenhagen, Denmark
513  New York, NY
517  Nice, France
609  Asarum, Sweden Brooklyn, NY
621  Bergen, Norway
645  Sweden  Worcester, MA
728
749  Stanton, IA
782  Austria Niagara Falls, NY
797
798  Aughnacliff, Co Longford, Ireland New York, NY
838  Ruotsinphytaa, Finland New York, NY
874
889
892
898
925
961
993
1016
1147
1153
1154
1170
1240
1252
1265
1286
1302

In [14]:
# 【26】
# dfのsex列がfemaleのデータのみ抽出

df[df$sex=="female",]

     pclass survived
1    1      1
3    1      0
5    1      0
7    1      1
9    1      1
12   1      1
13   1      1
14   1      1
18   1      1
19   1      1
22   1      1
24   1      1
25   1      1
28   1      1
29   1      1
33   1      1
34   1      1
36   1      1
37   1      1
42   1      1
43   1      1
44   1      1
45   1      1
49   1      1
51   1      1
56   1      1
58   1      1
60   1      1
62   1      1
64   1      1
...  ...    ...
1183 3      1
1188 3      1
1189 3      1
1190 3      1
1199 3      1
1206 3      1
1209 3      0
1210 3      0
1212 3      0
1217 3      1
1224 3      1
1228 3      0
1231 3      0
1232 3      0
1245 3      1
1248 3      1
1258 3      1
1259 3      1
1261 3      1
1262 3      1
1266 3      0
1268 3      0
1274 3      0
1277 3      0
1280 3      0
1287 3      1
1291 3      1
1301 3      1
1305 3      0
1306 3      0
     name                                                            sex
1    Allen, Miss. Elisabeth Walton                                   female
3    Allison, Miss. Helen Loraine                                    female
5    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)                 female
7    Andrews, Miss. Kornelia Theodosia                               female
9    Appleton, Mrs. Edward Dale (Charlotte Lamson)                   female
12   Astor, Mrs. John Jacob (Madeleine Talmadge Force)               female
13   Aubart, Mme. Leontine Pauline                                   female
14   Barber, Miss. Ellen "Nellie"                                    female
18   Baxter, Mrs. James (Helene DeLaudeniere Chaput)                 female
19   Bazzani, Miss. Albina                                           female
22   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)                female
24   Bidois, Miss. Rosalie                                           female
25   Bird, Miss. Ellen                                               female
28   Bishop, Mrs. Dickinson H (Helen Walton)                         female
29   Bissette, Miss. Amelia                                          female
33   Bonnell, Miss. Caroline                                         female
34   Bonnell, Miss. Elizabeth                                        female
36   Bowen, Miss. Grace Scott                                        female
37   Bowerman, Miss. Elsie Edith                                     female
42   Brown, Mrs. James Joseph (Margaret Tobin)                       female
43   Brown, Mrs. John Murray (Caroline Lane Lamson)                  female
44   Bucknell, Mrs. William Robert (Emma Eliza Ward)                 female
45   Burns, Miss. Elizabeth Margaret                                 female
49   Candee, Mrs. Edward (Helen Churchill Hungerford)                female
51   Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake) female
56   Carter, Miss. Lucile Polk                                       female
58   Carter, Mrs. William Ernest (Lucile Polk)                       female
60   Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)     female
62   Cavendish, Mrs. Tyrell William (Julia Florence Siegel)          female
64   Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)         female
...  ...                                                             ...
1183 Salkjelsvik, Miss. Anna Kristine                                female
1188 Sandstrom, Miss. Beatrice Irene                                 female
1189 Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)             female
1190 Sandstrom, Miss. Marguerite Rut                                 female
1199 Shine, Miss. Ellen Natalia                                      female
1206 Sjoblom, Miss. Anna Sofia                                       female
1209 Skoog, Miss. Mabel                                              female
1210 Skoog, Miss. Margit Elizabeth                                   female
1212 Skoog, Mrs. William (Anna Bernhardina Karlsson)                 female
1217 Smyth, Miss. Julia                                              female
1224 Stanley, Miss. Amy Zillah Elsie                                 female
1228 Strandberg, Miss. Ida Sofia                                     female
1231 Strom, Miss. Telma Matilda                                      female
1232 Strom, Mrs. Wilhelm (Elna Matilda Persson)                      female
1245 Thomas, Mrs. Alexander (Thamine "Thelma")                       female
1248 Thorneycroft, Mrs. Percival (Florence Kate White)               female
1258 Touma, Miss. Maria Youssef                                      female
1259 Touma, Mrs. Darwis (Hanne Youssef Razi)                         female
1261 Turja, Miss. Anna Sofia                                         female
1262 Turkula, Mrs. (Hedwig)                                          female
1266 Van Impe, Miss. Catharina                                       female
1268 Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)            female
1274 Vander Planke, Miss. Augusta Maria                              female
1277 Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)         female
1280 Vestrom, Miss. Hulda Amanda Adolfina                            female
1287 Whabee, Mrs. George Joseph (Shawneene Abi-Saab)                 female
1291 Wilkes, Mrs. James (Ellen Needs)                                female
1301 Yasbeck, Mrs. Antoni (Selini Alexander)                         female
1305 Zabour, Miss. Hileni                                            female
1306 Zabour, Miss. Thamine                                           female
     age  sibsp parch ticket      fare     cabin       embarked boat body
1    29   0     0     24160       211.3375 B5          S        2    NA
3     2   1     2     113781      151.5500 C22 C26     S             NA
5    25   1     2     113781      151.5500 C22 C26     S             NA
7    63   1     0     13502        77.9583 D7          S        10   NA
9    53   2     0     11769        51.4792 C101        S        D    NA
12   18   1     0     PC 17757    227.5250 C62 C64     C        4    NA
13   24   0     0     PC 17477     69.3000 B35         C        9    NA
14   26   0     0     19877        78.8500             S        6    NA
18   50   0     1     PC 17558    247.5208 B58 B60     C        6    NA
19   32   0     0     11813        76.2917 D15         C        8    NA
22   47   1     1     11751        52.5542 D35         S        5    NA
24   42   0     0     PC 17757    227.5250             C        4    NA
25   29   0     0     PC 17483    221.7792 C97         S        8    NA
28   19   1     0     11967        91.0792 B49         C        7    NA
29   35   0     0     PC 17760    135.6333 C99         S        8    NA
33   30   0     0     36928       164.8667 C7          S        8    NA
34   58   0     0     113783       26.5500 C103        S        8    NA
36   45   0     0     PC 17608    262.3750             C        4    NA
37   22   0     1     113505       55.0000 E33         S        6    NA
42   44   0     0     PC 17610     27.7208 B4          C        6    NA
43   59   2     0     11769        51.4792 C101        S        D    NA
44   60   0     0     11813        76.2917 D15         C        8    NA
45   41   0     0     16966       134.5000 E40         C        3    NA
49   53   0     0     PC 17606     27.4458             C        6    NA
51   58   0     1     PC 17755    512.3292 B51 B53 B55 C        3    NA
56   14   1     2     113760      120.0000 B96 B98     S        4    NA
58   36   1     2     113760      120.0000 B96 B98     S        4    NA
60   NA   0     0     17770        27.7208             C        5    NA
62   76   1     0     19877        78.8500 C46         S        6    NA
64   47   1     0     W.E.P. 5734  61.1750 E31         S        4    NA
...  ...  ...   ...   ...         ...      ...         ...      ...  ...
1183 21.0 0     0     343120       7.6500              S        C     NA
1188  1.0 1     1     PP 9549     16.7000  G6          S        13    NA
1189 24.0 0     2     PP 9549     16.7000  G6          S        13    NA
1190  4.0 1     1     PP 9549     16.7000  G6          S        13    NA
1199   NA 0     0     330968       7.7792              Q              NA
1206 18.0 0     0     3101265      7.4958              S        16    NA
1209  9.0 3     2     347088      27.9000              S              NA
1210  2.0 3     2     347088      27.9000              S              NA
1212 45.0 1     4     347088      27.9000              S              NA
1217   NA 0     0     335432       7.7333              Q        13    NA
1224 23.0 0     0     CA. 2314     7.5500              S        C     NA
1228 22.0 0     0     7553         9.8375              S              NA
1231  2.0 0     1     347054      10.4625  G6          S              NA
1232 29.0 1     1     347054      10.4625  G6          S              NA
1245 16.0 1     1     2625         8.5167              C        14    NA
1248   NA 1     0     376564      16.1000              S        10    NA
1258  9.0 1     1     2650        15.2458              C        C     NA
1259 29.0 0     2     2650        15.2458              C        C     NA
1261 18.0 0     0     4138         9.8417              S        15    NA
1262 63.0 0     0     4134         9.5875              S        15    NA
1266 10.0 0     2     345773      24.1500              S              NA
1268 30.0 1     1     345773      24.1500              S              NA
1274 18.0 2     0     345764      18.0000              S              NA
1277 31.0 1     0     345763      18.0000              S              NA
1280 14.0 0     0     350406       7.8542              S              NA
1287 38.0 0     0     2688         7.2292              C        C     NA
1291 47.0 1     0     363272       7.0000              S              NA
1301 15.0 1     0     2659        14.4542              C              NA
1305 14.5 1     0     2665        14.4542              C             328
1306   NA 1     0     2665        14.4542              C              NA
     home.dest
1    St Louis, MO
3    Montreal, PQ / Chesterville, ON
5    Montreal, PQ / Chesterville, ON
7    Hudson, NY
9    Bayside, Queens, NY
12   New York, NY
13   Paris, France
14
18   Montreal, PQ
19
22   New York, NY
24
25
28   Dowagiac, MI
29
33   Youngstown, OH
34   Birkdale, England Cleveland, Ohio
36   Cooperstown, NY
37   St Leonards-on-Sea, England Ohio
42   Denver, CO
43   Belmont, MA
44   Philadelphia, PA
45
49   Washington, DC
51   Germantown, Philadelphia, PA
56   Bryn Mawr, PA
58   Bryn Mawr, PA
60   New York, NY
62   Little Onn Hall, Staffs
64   Amenia, ND
...  ...
1183
1188
1189
1190
1199
1206
1209
1210
1212
1217
1224
1228
1231
1232
1245
1248
1258
1259
1261
1262
1266
1268
1274
1277
1280
1287
1291
1301
1305
1306

In [15]:
# 【27】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出

df[df$sex=="female" & df$age>=40,]

      pclass survived
7      1      1
9      1      1
18     1      1
22     1      1
24     1      1
34     1      1
36     1      1
42     1      1
43     1      1
44     1      1
45     1      1
49     1      1
51     1      1
NA    NA     NA
62     1      1
64     1      1
NA.1  NA     NA
79     1      1
80     1      1
84     1      1
96     1      1
99     1      1
100    1      1
105    1      1
NA.2  NA     NA
NA.3  NA     NA
117    1      1
NA.4  NA     NA
125    1      1
132    1      1
...   ...    ...
NA.54 NA     NA
NA.55 NA     NA
NA.56 NA     NA
NA.57 NA     NA
NA.58 NA     NA
NA.59 NA     NA
NA.60 NA     NA
NA.61 NA     NA
1107   3      0
NA.62 NA     NA
NA.63 NA     NA
NA.64 NA     NA
NA.65 NA     NA
NA.66 NA     NA
NA.67 NA     NA
1154   3      0
1159   3      0
NA.68 NA     NA
NA.69 NA     NA
NA.70 NA     NA
NA.71 NA     NA
NA.72 NA     NA
NA.73 NA     NA
NA.74 NA     NA
1212   3      0
NA.75 NA     NA
NA.76 NA     NA
1262   3      1
1291   3      1
NA.77 NA     NA
      name                                                              sex
7     Andrews, Miss. Kornelia Theodosia                                 female
9     Appleton, Mrs. Edward Dale (Charlotte Lamson)                     female
18    Baxter, Mrs. James (Helene DeLaudeniere Chaput)                   female
22    Beckwith, Mrs. Richard Leonard (Sallie Monypeny)                  female
24    Bidois, Miss. Rosalie                                             female
34    Bonnell, Miss. Elizabeth                                          female
36    Bowen, Miss. Grace Scott                                          female
42    Brown, Mrs. James Joseph (Margaret Tobin)                         female
43    Brown, Mrs. John Murray (Caroline Lane Lamson)                    female
44    Bucknell, Mrs. William Robert (Emma Eliza Ward)                   female
45    Burns, Miss. Elizabeth Margaret                                   female
49    Candee, Mrs. Edward (Helen Churchill Hungerford)                  female
51    Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)   female
NA    NA                                                                NA
62    Cavendish, Mrs. Tyrell William (Julia Florence Siegel)            female
64    Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)           female
NA.1  NA                                                                NA
79    Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)             female
80    Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)              female
84    Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)        female
96    Dodge, Mrs. Washington (Ruth Vidaver)                             female
99    Douglas, Mrs. Walter Donald (Mahala Dutton)                       female
100   Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan") female
105   Eustis, Miss. Elizabeth Mussey                                    female
NA.2  NA                                                                NA
NA.3  NA                                                                NA
117   Fortune, Mrs. Mark (Mary McDougald)                               female
NA.4  NA                                                                NA
125   Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)   female
132   Gibson, Mrs. Leonard (Pauline C Boeson)                           female
...   ...                                                               ...
NA.54 NA                                                                NA
NA.55 NA                                                                NA
NA.56 NA                                                                NA
NA.57 NA                                                                NA
NA.58 NA                                                                NA
NA.59 NA                                                                NA
NA.60 NA                                                                NA
NA.61 NA                                                                NA
1107  Panula, Mrs. Juha (Maria Emilia Ojala)                            female
NA.62 NA                                                                NA
NA.63 NA                                                                NA
NA.64 NA                                                                NA
NA.65 NA                                                                NA
NA.66 NA                                                                NA
NA.67 NA                                                                NA
1154  Robins, Mrs. Alexander A (Grace Charity Laury)                    female
1159  Rosblom, Mrs. Viktor (Helena Wilhelmina)                          female
NA.68 NA                                                                NA
NA.69 NA                                                                NA
NA.70 NA                                                                NA
NA.71 NA                                                                NA
NA.72 NA                                                                NA
NA.73 NA                                                                NA
NA.74 NA                                                                NA
1212  Skoog, Mrs. William (Anna Bernhardina Karlsson)                   female
NA.75 NA                                                                NA
NA.76 NA                                                                NA
1262  Turkula, Mrs. (Hedwig)                                            female
1291  Wilkes, Mrs. James (Ellen Needs)                                  female
NA.77 NA                                                                NA
      age sibsp parch ticket      fare     cabin       embarked boat body
7     63   1     0    13502        77.9583 D7          S        10   NA
9     53   2     0    11769        51.4792 C101        S        D    NA
18    50   0     1    PC 17558    247.5208 B58 B60     C        6    NA
22    47   1     1    11751        52.5542 D35         S        5    NA
24    42   0     0    PC 17757    227.5250             C        4    NA
34    58   0     0    113783       26.5500 C103        S        8    NA
36    45   0     0    PC 17608    262.3750             C        4    NA
42    44   0     0    PC 17610     27.7208 B4          C        6    NA
43    59   2     0    11769        51.4792 C101        S        D    NA
44    60   0     0    11813        76.2917 D15         C        8    NA
45    41   0     0    16966       134.5000 E40         C        3    NA
49    53   0     0    PC 17606     27.4458             C        6    NA
51    58   0     1    PC 17755    512.3292 B51 B53 B55 C        3    NA
NA    NA  NA    NA    NA                NA NA          NA       NA   NA
62    76   1     0    19877        78.8500 C46         S        6    NA
64    47   1     0    W.E.P. 5734  61.1750 E31         S        4    NA
NA.1  NA  NA    NA    NA                NA NA          NA       NA   NA
79    64   0     2    PC 17756     83.1583 E45         C        14   NA
80    55   2     0    11770        25.7000 C101        S        2    NA
84    64   1     1    112901       26.5500 B26         S        7    NA
96    54   1     1    33638        81.8583 A34         S        5    NA
99    48   1     0    PC 17761    106.4250 C86         C        2    NA
100   48   1     0    11755        39.6000 A16         C        1    NA
105   54   1     0    36947        78.2667 D20         C        4    NA
NA.2  NA  NA    NA    NA                NA NA          NA       NA   NA
NA.3  NA  NA    NA    NA                NA NA          NA       NA   NA
117   60   1     4    19950       263.0000 C23 C25 C27 S        10   NA
NA.4  NA  NA    NA    NA                NA NA          NA       NA   NA
125   48   1     1    13567        79.2000 B41         C        5    NA
132   45   0     1    112378       59.4000             C        7    NA
...   ... ...   ...   ...         ...      ...         ...      ...  ...
NA.54 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.55 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.56 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.57 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.58 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.59 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.60 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.61 NA  NA    NA    NA               NA  NA          NA       NA   NA
1107  41   0     5    3101295     39.6875              S             NA
NA.62 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.63 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.64 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.65 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.66 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.67 NA  NA    NA    NA               NA  NA          NA       NA   NA
1154  47   1     0    A/5. 3337   14.5000              S              7
1159  41   0     2    370129      20.2125              S             NA
NA.68 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.69 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.70 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.71 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.72 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.73 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.74 NA  NA    NA    NA               NA  NA          NA       NA   NA
1212  45   1     4    347088      27.9000              S             NA
NA.75 NA  NA    NA    NA               NA  NA          NA       NA   NA
NA.76 NA  NA    NA    NA               NA  NA          NA       NA   NA
1262  63   0     0    4134         9.5875              S        15   NA
1291  47   1     0    363272       7.0000              S             NA
NA.77 NA  NA    NA    NA               NA  NA          NA       NA   NA
      home.dest
7     Hudson, NY
9     Bayside, Queens, NY
18    Montreal, PQ
22    New York, NY
24
34    Birkdale, England Cleveland, Ohio
36    Cooperstown, NY
42    Denver, CO
43    Belmont, MA
44    Philadelphia, PA
45
49    Washington, DC
51    Germantown, Philadelphia, PA
NA    NA
62    Little Onn Hall, Staffs
64    Amenia, ND
NA.1  NA
79    Lakewood, NJ
80    New York, NY
84    Milwaukee, WI
96    San Francisco, CA
99    Deephaven, MN / Cedar Rapids, IA
100   London / Paris
105   Brookline, MA
NA.2  NA
NA.3  NA
117   Winnipeg, MB
NA.4  NA
125   Zurich, Switzerland
132   New York, NY
...   ...
NA.54 NA
NA.55 NA
NA.56 NA
NA.57 NA
NA.58 NA
NA.59 NA
NA.60 NA
NA.61 NA
1107
NA.62 NA
NA.63 NA
NA.64 NA
NA.65 NA
NA.66 NA
NA.67 NA
1154
1159
NA.68 NA
NA.69 NA
NA.70 NA
NA.71 NA
NA.72 NA
NA.73 NA
NA.74 NA
1212
NA.75 NA
NA.76 NA
1262
1291
NA.77 NA

In [16]:
# 【28】
# queryを用いてdfのsex列がfemaleでかつageが40以上のデータのみ抽出 --> Python限定

# これはスキップ

In [17]:
head(df)

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29.00
2 1      1        Allison, Master. Hudson Trevor                  male    0.92
3 1      0        Allison, Miss. Helen Loraine                    female  2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25.00
6 1      1        Anderson, Mr. Harry                             male   48.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
6 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [37]:
# 【29】
# dfのname列に文字列「Mrs」が含まれるデータを表示

# https://qiita.com/naofumi-fujii/items/71f41182a23ded86388b
# リブラリー dplyr の grepl() を使う

# install.packages("dplyr") # 一度だけでよい。
library(dplyr)

df %>% filter(grepl("Mrs", name))

    pclass survived
1   1      0
2   1      1
3   1      1
4   1      1
5   1      1
6   1      1
7   1      1
8   1      1
9   1      1
10  1      1
11  1      1
12  1      1
13  1      1
14  1      1
15  1      1
16  1      1
17  1      1
18  1      1
19  1      1
20  1      1
21  1      1
22  1      1
23  1      1
24  1      1
25  1      1
26  1      1
27  1      1
28  1      1
29  1      1
30  1      1
... ...    ...
172 3      0
173 3      0
174 3      1
175 3      1
176 3      1
177 3      1
178 3      1
179 3      1
180 3      0
181 3      0
182 3      0
183 3      1
184 3      0
185 3      0
186 3      0
187 3      0
188 3      0
189 3      0
190 3      1
191 3      0
192 3      0
193 3      1
194 3      1
195 3      1
196 3      1
197 3      0
198 3      0
199 3      1
200 3      1
201 3      1
    name                                                              sex
1   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)                   female
2   Appleton, Mrs. Edward Dale (Charlotte Lamson)                     female
3   Astor, Mrs. John Jacob (Madeleine Talmadge Force)                 female
4   Baxter, Mrs. James (Helene DeLaudeniere Chaput)                   female
5   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)                  female
6   Bishop, Mrs. Dickinson H (Helen Walton)                           female
7   Brown, Mrs. James Joseph (Margaret Tobin)                         female
8   Brown, Mrs. John Murray (Caroline Lane Lamson)                    female
9   Bucknell, Mrs. William Robert (Emma Eliza Ward)                   female
10  Candee, Mrs. Edward (Helen Churchill Hungerford)                  female
11  Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)   female
12  Carter, Mrs. William Ernest (Lucile Polk)                         female
13  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)       female
14  Cavendish, Mrs. Tyrell William (Julia Florence Siegel)            female
15  Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)           female
16  Chambers, Mrs. Norman Campbell (Bertha Griggs)                    female
17  Chibnall, Mrs. (Edith Martha Bowerman)                            female
18  Clark, Mrs. Walter Miller (Virginia McDowell)                     female
19  Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)             female
20  Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)              female
21  Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)        female
22  Cumings, Mrs. John Bradley (Florence Briggs Thayer)               female
23  Davidson, Mrs. Thornton (Orian Hays)                              female
24  Dick, Mrs. Albert Adrian (Vera Gillespie)                         female
25  Dodge, Mrs. Washington (Ruth Vidaver)                             female
26  Douglas, Mrs. Frederick Charles (Mary Helene Baxter)              female
27  Douglas, Mrs. Walter Donald (Mahala Dutton)                       female
28  Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan") female
29  Earnshaw, Mrs. Boulton (Olive Potter)                             female
30  Flegenheim, Mrs. Alfred (Antoinette)                              female
... ...                                                               ...
172 McNamee, Mrs. Neal (Eileen O'Leary)                               female
173 Meek, Mrs. Thomas (Annie Louise Rowley)                           female
174 Moor, Mrs. (Beila)                                                female
175 Moubarek, Mrs. George (Omine "Amenia" Alexander)                  female
176 Moussa, Mrs. (Mantoura Boulos)                                    female
177 Nakid, Mrs. Said (Waika "Mary" Mowad)                             female
178 O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)                   female
179 Osman, Mrs. Mara                                                  female
180 Palsson, Mrs. Nils (Alma Cornelia Berglund)                       female
181 Panula, Mrs. Juha (Maria Emilia Ojala)                            female
182 Peacock, Mrs. Benjamin (Edith Nile)                               female
183 Peter, Mrs. Catherine (Catherine Rizk)                            female
184 Rasmussen, Mrs. (Lena Jacobsen Solvang)                           female
185 Rice, Mrs. William (Margaret Norton)                              female
186 Risien, Mrs. Samuel (Emma)                                        female
187 Robins, Mrs. Alexander A (Grace Charity Laury)                    female
188 Rosblom, Mrs. Viktor (Helena Wilhelmina)                          female
189 Sage, Mrs. John (Annie Bullen)                                    female
190 Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)               female
191 Skoog, Mrs. William (Anna Bernhardina Karlsson)                   female
192 Strom, Mrs. Wilhelm (Elna Matilda Persson)                        female
193 Thomas, Mrs. Alexander (Thamine "Thelma")                         female
194 Thorneycroft, Mrs. Percival (Florence Kate White)                 female
195 Touma, Mrs. Darwis (Hanne Youssef Razi)                           female
196 Turkula, Mrs. (Hedwig)                                            female
197 Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)              female
198 Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)           female
199 Whabee, Mrs. George Joseph (Shawneene Abi-Saab)                   female
200 Wilkes, Mrs. James (Ellen Needs)                                  female
201 Yasbeck, Mrs. Antoni (Selini Alexander)                           female
    age sibsp parch ticket             fare     cabin       embarked boat body
1   25  1     2     113781             151.5500 C22 C26     S             NA
2   53  2     0     11769               51.4792 C101        S        D    NA
3   18  1     0     PC 17757           227.5250 C62 C64     C        4    NA
4   50  0     1     PC 17558           247.5208 B58 B60     C        6    NA
5   47  1     1     11751               52.5542 D35         S        5    NA
6   19  1     0     11967               91.0792 B49         C        7    NA
7   44  0     0     PC 17610            27.7208 B4          C        6    NA
8   59  2     0     11769               51.4792 C101        S        D    NA
9   60  0     0     11813               76.2917 D15         C        8    NA
10  53  0     0     PC 17606            27.4458             C        6    NA
11  58  0     1     PC 17755           512.3292 B51 B53 B55 C        3    NA
12  36  1     2     113760             120.0000 B96 B98     S        4    NA
13  NA  0     0     17770               27.7208             C        5    NA
14  76  1     0     19877               78.8500 C46         S        6    NA
15  47  1     0     W.E.P. 5734         61.1750 E31         S        4    NA
16  33  1     0     113806              53.1000 E8          S        5    NA
17  NA  0     1     113505              55.0000 E33         S        6    NA
18  26  1     0     13508              136.7792 C89         C        4    NA
19  64  0     2     PC 17756            83.1583 E45         C        14   NA
20  55  2     0     11770               25.7000 C101        S        2    NA
21  64  1     1     112901              26.5500 B26         S        7    NA
22  38  1     0     PC 17599            71.2833 C85         C        4    NA
23  27  1     2     F.C. 12750          52.0000 B71         S        3    NA
24  17  1     0     17474               57.0000 B20         S        3    NA
25  54  1     1     33638               81.8583 A34         S        5    NA
26  27  1     1     PC 17558           247.5208 B58 B60     C        6    NA
27  48  1     0     PC 17761           106.4250 C86         C        2    NA
28  48  1     0     11755               39.6000 A16         C        1    NA
29  23  0     1     11767               83.1583 C54         C        7    NA
30  NA  0     0     PC 17598            31.6833             S        7    NA
... ... ...   ...   ...                ...      ...         ...      ...  ...
172 19  1     0     376566             16.1000              S              53
173 NA  0     0     343095              8.0500              S              NA
174 27  0     1     392096             12.4750  E121        S        14    NA
175 NA  0     2     2661               15.2458              C        C     NA
176 NA  0     0     2626                7.2292              C              NA
177 19  1     1     2653               15.7417              C        C     NA
178 NA  1     0     370365             15.5000              Q              NA
179 31  0     0     349244              8.6833              S              NA
180 29  0     4     349909             21.0750              S             206
181 41  0     5     3101295            39.6875              S              NA
182 26  0     2     SOTON/O.Q. 3101315 13.7750              S              NA
183 NA  0     2     2668               22.3583              C        D     NA
184 NA  0     0     65305               8.1125              S              NA
185 39  0     5     382652             29.1250              Q             327
186 NA  0     0     364498             14.5000              S              NA
187 47  1     0     A/5. 3337          14.5000              S               7
188 41  0     2     370129             20.2125              S              NA
189 NA  1     9     CA. 2343           69.5500              S              NA
190 24  0     2     PP 9549            16.7000  G6          S        13    NA
191 45  1     4     347088             27.9000              S              NA
192 29  1     1     347054             10.4625  G6          S              NA
193 16  1     1     2625                8.5167              C        14    NA
194 NA  1     0     376564             16.1000              S        10    NA
195 29  0     2     2650               15.2458              C        C     NA
196 63  0     0     4134                9.5875              S        15    NA
197 30  1     1     345773             24.1500              S              NA
198 31  1     0     345763             18.0000              S              NA
199 38  0     0     2688                7.2292              C        C     NA
200 47  1     0     363272              7.0000              S              NA
201 15  1     0     2659               14.4542              C              NA
    home.dest
1   Montreal, PQ / Chesterville, ON
2   Bayside, Queens, NY
3   New York, NY
4   Montreal, PQ
5   New York, NY
6   Dowagiac, MI
7   Denver, CO
8   Belmont, MA
9   Philadelphia, PA
10  Washington, DC
11  Germantown, Philadelphia, PA
12  Bryn Mawr, PA
13  New York, NY
14  Little Onn Hall, Staffs
15  Amenia, ND
16  New York, NY / Ithaca, NY
17  St Leonards-on-Sea, England Ohio
18  Los Angeles, CA
19  Lakewood, NJ
20  New York, NY
21  Milwaukee, WI
22  New York, NY
23  Montreal, PQ
24  Calgary, AB
25  San Francisco, CA
26  Montreal, PQ
27  Deephaven, MN / Cedar Rapids, IA
28  London / Paris
29  Mt Airy, Philadelphia, PA
30  New York, NY
... ...
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201

In [28]:
# 【30】
# dfの中で文字型の列のみを表示

# 一度にする方法が分からないので半分手動で行った。 --> 一度でやる方法を見つけました。（後述）
str(df)

'data.frame':	1309 obs. of  14 variables:
 $ pclass   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survived : int  1 1 0 0 0 1 1 0 1 0 ...
 $ name     : Factor w/ 1307 levels "Abbing, Mr. Anthony",..: 22 24 25 26 27 31 46 47 51 55 ...
 $ sex      : Factor w/ 2 levels "female","male": 1 2 1 2 1 2 1 2 1 2 ...
 $ age      : num  29 0.92 2 30 25 48 63 39 53 71 ...
 $ sibsp    : int  0 1 1 1 1 0 1 0 2 0 ...
 $ parch    : int  0 2 2 2 2 0 0 0 0 0 ...
 $ ticket   : Factor w/ 929 levels "110152","110413",..: 188 50 50 50 50 125 93 16 77 826 ...
 $ fare     : num  211 152 152 152 152 ...
 $ cabin    : Factor w/ 187 levels "","A10","A11",..: 45 81 81 81 81 151 147 17 63 1 ...
 $ embarked : Factor w/ 4 levels "","C","Q","S": 4 4 4 4 4 4 4 4 4 2 ...
 $ boat     : Factor w/ 28 levels "","1","10","11",..: 13 4 1 1 1 14 3 1 28 1 ...
 $ body     : int  NA NA NA 135 NA NA NA NA NA 22 ...
 $ home.dest: Factor w/ 370 levels "","?Havana, Cuba",..: 310 232 232 232 232 238 163 25 23 230 ...

In [30]:
df[c("name", "sex", "ticket", "cabin", "embarked", "boat", "home.dest")]

     name                                              sex    ticket
1    Allen, Miss. Elisabeth Walton                     female 24160
2    Allison, Master. Hudson Trevor                    male   113781
3    Allison, Miss. Helen Loraine                      female 113781
4    Allison, Mr. Hudson Joshua Creighton              male   113781
5    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)   female 113781
6    Anderson, Mr. Harry                               male   19952
7    Andrews, Miss. Kornelia Theodosia                 female 13502
8    Andrews, Mr. Thomas Jr                            male   112050
9    Appleton, Mrs. Edward Dale (Charlotte Lamson)     female 11769
10   Artagaveytia, Mr. Ramon                           male   PC 17609
11   Astor, Col. John Jacob                            male   PC 17757
12   Astor, Mrs. John Jacob (Madeleine Talmadge Force) female PC 17757
13   Aubart, Mme. Leontine Pauline                     female PC 17477
14   Barber, Miss. Ellen "Nellie"                      female 19877
15   Barkworth, Mr. Algernon Henry Wilson              male   27042
16   Baumann, Mr. John D                               male   PC 17318
17   Baxter, Mr. Quigg Edmond                          male   PC 17558
18   Baxter, Mrs. James (Helene DeLaudeniere Chaput)   female PC 17558
19   Bazzani, Miss. Albina                             female 11813
20   Beattie, Mr. Thomson                              male   13050
21   Beckwith, Mr. Richard Leonard                     male   11751
22   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female 11751
23   Behr, Mr. Karl Howell                             male   111369
24   Bidois, Miss. Rosalie                             female PC 17757
25   Bird, Miss. Ellen                                 female PC 17483
26   Birnbaum, Mr. Jakob                               male   13905
27   Bishop, Mr. Dickinson H                           male   11967
28   Bishop, Mrs. Dickinson H (Helen Walton)           female 11967
29   Bissette, Miss. Amelia                            female PC 17760
30   Bjornstrom-Steffansson, Mr. Mauritz Hakan         male   110564
...  ...                                               ...    ...
1280 Vestrom, Miss. Hulda Amanda Adolfina              female 350406
1281 Vovk, Mr. Janko                                   male   349252
1282 Waelens, Mr. Achille                              male   345767
1283 Ware, Mr. Frederick                               male   359309
1284 Warren, Mr. Charles William                       male   C.A. 49867
1285 Webber, Mr. James                                 male   SOTON/OQ 3101316
1286 Wenzel, Mr. Linhart                               male   345775
1287 Whabee, Mrs. George Joseph (Shawneene Abi-Saab)   female 2688
1288 Widegren, Mr. Carl/Charles Peter                  male   347064
1289 Wiklund, Mr. Jakob Alfred                         male   3101267
1290 Wiklund, Mr. Karl Johan                           male   3101266
1291 Wilkes, Mrs. James (Ellen Needs)                  female 363272
1292 Willer, Mr. Aaron ("Abi Weller")                  male   3410
1293 Willey, Mr. Edward                                male   S.O./P.P. 751
1294 Williams, Mr. Howard Hugh "Harry"                 male   A/5 2466
1295 Williams, Mr. Leslie                              male   54636
1296 Windelov, Mr. Einar                               male   SOTON/OQ 3101317
1297 Wirz, Mr. Albert                                  male   315154
1298 Wiseman, Mr. Phillippe                            male   A/4. 34244
1299 Wittevrongel, Mr. Camille                         male   345771
1300 Yasbeck, Mr. Antoni                               male   2659
1301 Yasbeck, Mrs. Antoni (Selini Alexander)           female 2659
1302 Youseff, Mr. Gerious                              male   2628
1303 Yousif, Mr. Wazli                                 male   2647
1304 Yousseff, Mr. Gerious                             male   2627
1305 Zabour, Miss. Hileni                              female 2665
1306 Zabour, Miss. Thamine                             female 2665
1307 Zakarian, Mr. Mapriededer                         male   2656
1308 Zakarian, Mr. Ortin                               male   2670
1309 Zimmerman, Mr. Leo                                male   315082
     cabin   embarked boat home.dest
1    B5      S        2    St Louis, MO
2    C22 C26 S        11   Montreal, PQ / Chesterville, ON
3    C22 C26 S             Montreal, PQ / Chesterville, ON
4    C22 C26 S             Montreal, PQ / Chesterville, ON
5    C22 C26 S             Montreal, PQ / Chesterville, ON
6    E12     S        3    New York, NY
7    D7      S        10   Hudson, NY
8    A36     S             Belfast, NI
9    C101    S        D    Bayside, Queens, NY
10           C             Montevideo, Uruguay
11   C62 C64 C             New York, NY
12   C62 C64 C        4    New York, NY
13   B35     C        9    Paris, France
14           S        6
15   A23     S        B    Hessle, Yorks
16           S             New York, NY
17   B58 B60 C             Montreal, PQ
18   B58 B60 C        6    Montreal, PQ
19   D15     C        8
20   C6      C        A    Winnipeg, MN
21   D35     S        5    New York, NY
22   D35     S        5    New York, NY
23   C148    C        5    New York, NY
24           C        4
25   C97     S        8
26           C             San Francisco, CA
27   B49     C        7    Dowagiac, MI
28   B49     C        7    Dowagiac, MI
29   C99     S        8
30   C52     S        D    Stockholm, Sweden / Washington, DC
...  ...     ...      ...  ...
1280         S
1281         S
1282         S             Antwerp, Belgium / Stanton, OH
1283         S
1284         S
1285         S
1286         S
1287         C        C
1288         S
1289         S
1290         S
1291         S
1292         S
1293         S
1294         S
1295         S
1296         S
1297         S
1298         S
1299         S
1300         C        C
1301         C
1302         C
1303         C
1304         C
1305         C
1306         C
1307         C
1308         C
1309         S

In [33]:
# 一発で処理する方法見つけました。
# https://www.trifields.jp/how-to-extract-specific-type-columns-from-data-frame-in-r-3058
Filter(is.factor, df)

     name                                              sex    ticket
1    Allen, Miss. Elisabeth Walton                     female 24160
2    Allison, Master. Hudson Trevor                    male   113781
3    Allison, Miss. Helen Loraine                      female 113781
4    Allison, Mr. Hudson Joshua Creighton              male   113781
5    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)   female 113781
6    Anderson, Mr. Harry                               male   19952
7    Andrews, Miss. Kornelia Theodosia                 female 13502
8    Andrews, Mr. Thomas Jr                            male   112050
9    Appleton, Mrs. Edward Dale (Charlotte Lamson)     female 11769
10   Artagaveytia, Mr. Ramon                           male   PC 17609
11   Astor, Col. John Jacob                            male   PC 17757
12   Astor, Mrs. John Jacob (Madeleine Talmadge Force) female PC 17757
13   Aubart, Mme. Leontine Pauline                     female PC 17477
14   Barber, Miss. Ellen "Nellie"                      female 19877
15   Barkworth, Mr. Algernon Henry Wilson              male   27042
16   Baumann, Mr. John D                               male   PC 17318
17   Baxter, Mr. Quigg Edmond                          male   PC 17558
18   Baxter, Mrs. James (Helene DeLaudeniere Chaput)   female PC 17558
19   Bazzani, Miss. Albina                             female 11813
20   Beattie, Mr. Thomson                              male   13050
21   Beckwith, Mr. Richard Leonard                     male   11751
22   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female 11751
23   Behr, Mr. Karl Howell                             male   111369
24   Bidois, Miss. Rosalie                             female PC 17757
25   Bird, Miss. Ellen                                 female PC 17483
26   Birnbaum, Mr. Jakob                               male   13905
27   Bishop, Mr. Dickinson H                           male   11967
28   Bishop, Mrs. Dickinson H (Helen Walton)           female 11967
29   Bissette, Miss. Amelia                            female PC 17760
30   Bjornstrom-Steffansson, Mr. Mauritz Hakan         male   110564
...  ...                                               ...    ...
1280 Vestrom, Miss. Hulda Amanda Adolfina              female 350406
1281 Vovk, Mr. Janko                                   male   349252
1282 Waelens, Mr. Achille                              male   345767
1283 Ware, Mr. Frederick                               male   359309
1284 Warren, Mr. Charles William                       male   C.A. 49867
1285 Webber, Mr. James                                 male   SOTON/OQ 3101316
1286 Wenzel, Mr. Linhart                               male   345775
1287 Whabee, Mrs. George Joseph (Shawneene Abi-Saab)   female 2688
1288 Widegren, Mr. Carl/Charles Peter                  male   347064
1289 Wiklund, Mr. Jakob Alfred                         male   3101267
1290 Wiklund, Mr. Karl Johan                           male   3101266
1291 Wilkes, Mrs. James (Ellen Needs)                  female 363272
1292 Willer, Mr. Aaron ("Abi Weller")                  male   3410
1293 Willey, Mr. Edward                                male   S.O./P.P. 751
1294 Williams, Mr. Howard Hugh "Harry"                 male   A/5 2466
1295 Williams, Mr. Leslie                              male   54636
1296 Windelov, Mr. Einar                               male   SOTON/OQ 3101317
1297 Wirz, Mr. Albert                                  male   315154
1298 Wiseman, Mr. Phillippe                            male   A/4. 34244
1299 Wittevrongel, Mr. Camille                         male   345771
1300 Yasbeck, Mr. Antoni                               male   2659
1301 Yasbeck, Mrs. Antoni (Selini Alexander)           female 2659
1302 Youseff, Mr. Gerious                              male   2628
1303 Yousif, Mr. Wazli                                 male   2647
1304 Yousseff, Mr. Gerious                             male   2627
1305 Zabour, Miss. Hileni                              female 2665
1306 Zabour, Miss. Thamine                             female 2665
1307 Zakarian, Mr. Mapriededer                         male   2656
1308 Zakarian, Mr. Ortin                               male   2670
1309 Zimmerman, Mr. Leo                                male   315082
     cabin   embarked boat home.dest
1    B5      S        2    St Louis, MO
2    C22 C26 S        11   Montreal, PQ / Chesterville, ON
3    C22 C26 S             Montreal, PQ / Chesterville, ON
4    C22 C26 S             Montreal, PQ / Chesterville, ON
5    C22 C26 S             Montreal, PQ / Chesterville, ON
6    E12     S        3    New York, NY
7    D7      S        10   Hudson, NY
8    A36     S             Belfast, NI
9    C101    S        D    Bayside, Queens, NY
10           C             Montevideo, Uruguay
11   C62 C64 C             New York, NY
12   C62 C64 C        4    New York, NY
13   B35     C        9    Paris, France
14           S        6
15   A23     S        B    Hessle, Yorks
16           S             New York, NY
17   B58 B60 C             Montreal, PQ
18   B58 B60 C        6    Montreal, PQ
19   D15     C        8
20   C6      C        A    Winnipeg, MN
21   D35     S        5    New York, NY
22   D35     S        5    New York, NY
23   C148    C        5    New York, NY
24           C        4
25   C97     S        8
26           C             San Francisco, CA
27   B49     C        7    Dowagiac, MI
28   B49     C        7    Dowagiac, MI
29   C99     S        8
30   C52     S        D    Stockholm, Sweden / Washington, DC
...  ...     ...      ...  ...
1280         S
1281         S
1282         S             Antwerp, Belgium / Stanton, OH
1283         S
1284         S
1285         S
1286         S
1287         C        C
1288         S
1289         S
1290         S
1291         S
1292         S
1293         S
1294         S
1295         S
1296         S
1297         S
1298         S
1299         S
1300         C        C
1301         C
1302         C
1303         C
1304         C
1305         C
1306         C
1307         C
1308         C
1309         S