# 初学者向けPandas100本ノックver1.0.3

In [1]:
# ライブラリーの読み込み
import pandas as pd
import glob

# DataFrameの準備
df = pd.read_csv('./data/titanic3.csv')
df2 = pd.read_csv('./data/data1.csv')
df3 = pd.read_csv('./data/data1_2.csv')
df4 = pd.read_csv('./data/data1_3.csv')
df5 = pd.read_csv('./data/data2.csv',encoding='cp932')

# 統計 (66 - 79)

In [2]:
# 【71】
# df2においてclassでグルーピングし、クラスごとの科目の
# 最大値、最小値、平均値を求める(name列は削除しておく)

df2 =df2.drop('name',axis=1)
print(df2.groupby('class').max())
print(df2.groupby('class').min())
print(df2.groupby('class').median())

       English  Mathmatics  History
class
1          100         100       83
2           93          82       96
       English  Mathmatics  History
class
1           40          55       52
2           65          52       79
       English  Mathmatics  History
class
1         55.0        74.0     70.0
2         74.5        69.0     88.0

In [3]:
# 【72】
# dfの基本統計量を確認(describe)

df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881138,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413493,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [4]:
# 【73】
# dfの各列間の(Pearson)相関係数を確認


df.corr()

            pclass  survived       age     sibsp     parch      fare      body
pclass    1.000000 -0.312469 -0.408106  0.060832  0.018322 -0.558629 -0.034642
survived -0.312469  1.000000 -0.055512 -0.027825  0.082660  0.244265       NaN
age      -0.408106 -0.055512  1.000000 -0.243699 -0.150917  0.178740  0.058809
sibsp     0.060832 -0.027825 -0.243699  1.000000  0.373587  0.160238 -0.099961
parch     0.018322  0.082660 -0.150917  0.373587  1.000000  0.221539  0.051099
fare     -0.558629  0.244265  0.178740  0.160238  0.221539  1.000000 -0.043110
body     -0.034642       NaN  0.058809 -0.099961  0.051099 -0.043110  1.000000

In [6]:
# 【74】
# scikit-learnを用いてdf2のEnglish、Mathmatics、History列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)

from sklearn.preprocessing import StandardScaler

df2 = df2.drop(['class'],axis=1)


scaler = StandardScaler()
scaler.fit(df2)

scaler.transform(df2)
df2_std = pd.DataFrame(scaler.transform(df2), columns=df2.columns)

df2_std.describe()

            English    Mathmatics       History
count  1.000000e+01  1.000000e+01  1.000000e+01
mean  -1.554312e-16  1.665335e-16 -4.440892e-16
std    1.054093e+00  1.054093e+00  1.054093e+00
min   -1.421710e+00 -1.332741e+00 -1.981957e+00
25%   -6.518308e-01 -6.602572e-01 -5.774206e-01
50%    6.672284e-02 -2.934477e-01  2.028775e-01
75%    5.799755e-01  6.388600e-01  4.369669e-01
max    1.657806e+00  1.601735e+00  1.451354e+00

In [7]:
# 【75】
# scikit-learnを用いてdf2のEnglish列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)


scaler = StandardScaler()
scaler.fit(df2['English'].values.reshape(-1,1))


scaler.transform(df2['English'].values.reshape(-1,1))
df2_std = pd.DataFrame(scaler.transform(df2['English'].values.reshape(-1,1)))

df2_std.describe()

                  0
count  1.000000e+01
mean  -1.554312e-16
std    1.054093e+00
min   -1.421710e+00
25%   -6.518308e-01
50%    6.672284e-02
75%    5.799755e-01
max    1.657806e+00

In [8]:
# 【76】
# scikit-learnを用いてdf2のEnglish、Mathmatics、History列を
# Min-Maxスケーリングする
# (from sklearn.preprocessing import StandardScalerをインポート)


df2 = df2.drop(['name','class'],axis=1)

scaler = MinMaxScaler()
scaler.fit(df2)

scaler.transform(df2)
df2_std = pd.DataFrame(scaler.transform(df2), columns=df2.columns)

df2_std.describe()

KeyError: "['name' 'class'] not found in axis"

In [ ]:
# 【77】
# dfのfare列の最大値、最小値の行名を取得

In [ ]:
# 【78】
# dfのfare列の0、25、50、75、100パーセンタイルを取得

In [ ]:
# 【79】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を
# 確認し、①の結果の妥当性を確認