# 初学者向けPandas100本ノックver1.0.3

In [3]:
# ライブラリーの読み込み
import pandas as pd
import glob

# DataFrameの準備
df = pd.read_csv('./data/titanic3.csv')
df2 = pd.read_csv('./data/data1.csv')
df3 = pd.read_csv('./data/data1_2.csv')
df4 = pd.read_csv('./data/data1_3.csv')
df5 = pd.read_csv('./data/data2.csv',encoding='cp932')

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [4]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)

df_copy =df.copy()

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df_copy['sex'] = le.fit_transform(df_copy['sex'])
df_copy['embarked'] = le.fit_transform(df_copy['embarked'].astype(str)) 
df_copy.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.00,0,0,24160,211.3375,B5,2,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",1,0.92,1,2,113781,151.5500,C22 C26,2,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",0,2.00,1,2,113781,151.5500,C22 C26,2,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,30.00,1,2,113781,151.5500,C22 C26,2,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,25.00,1,2,113781,151.5500,C22 C26,2,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
# 【91】欠損値確認
# df_copyの欠損値を確認



df_copy.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        0
boat          823
body         1188
home.dest     564
dtype: int64

In [6]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完

df_copy['age'] = df_copy['age'].fillna(df_copy['age'].median()) #欠損値にageの平均値で補完
df_copy['fare'] = df_copy['fare'].fillna(df_copy['fare'].median()) #欠損値にageの平均値で補完
print(df_copy.isnull().sum())

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin        1014
embarked        0
boat          823
body         1188
home.dest     564
dtype: int64

In [7]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)


df_copy = df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'],axis=1)
df_copy

      pclass  survived  sex    age  sibsp  parch      fare  embarked
0          1         1    0  29.00      0      0  211.3375         2
1          1         1    1   0.92      1      2  151.5500         2
2          1         0    0   2.00      1      2  151.5500         2
3          1         0    1  30.00      1      2  151.5500         2
4          1         0    0  25.00      1      2  151.5500         2
...      ...       ...  ...    ...    ...    ...       ...       ...
1304       3         0    0  14.50      1      0   14.4542         0
1305       3         0    0  28.00      1      0   14.4542         0
1306       3         0    1  26.50      0      0    7.2250         0
1307       3         0    1  27.00      0      0    7.2250         0
1308       3         0    1  29.00      0      0    7.8750         2

[1309 rows x 8 columns]

In [8]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)


features = df_copy[['pclass','age','sex','fare','embarked']].values
target = df_copy['survived'].values

In [9]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0

from sklearn.model_selection import  train_test_split

(features , test_X , target , test_y) = train_test_split(features, target , test_size = 0.3 , random_state = 0)

In [10]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100,random_state=0) # ランダムフォレストのインスタンスを作成

model.fit(features,target) # 学習の実行

RandomForestClassifier(random_state=0)

In [11]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測


pred = model.predict(test_X)

In [12]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)


from sklearn.metrics import accuracy_score

accuracy_score(pred,test_y)

0.7837150127226463

In [13]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示


importace = model.feature_importances_ 

print('Feature Importances:')
for i, feat in enumerate(['pclass','age','sex','fare','embarked']):
    print('\t{0:20s} : {1:>.5f}'.format(feat, importace[i]))

Feature Importances:
	pclass               : 0.08822
	age                  : 0.28352
	sex                  : 0.27952
	fare                 : 0.31651
	embarked             : 0.03223

In [16]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)



df_pred = pd.DataFrame(pred)
df_pred.to_csv('http://localhost:8889/notebooks/Downloads/100_knocks_challenge-master/02_Pandas_100_knocks/Questions/submission.csv',header=None)

TypeError: a bytes-like object is required, not 'str'

# ノックお疲れ様でした
各セルのoutput表示をすべてクリアにしたい場合は、ツールバーの  
「Kernel」→「Restart & Clear Output」を実行して下さい。