# データサイエンス100本ノック（構造化データ加工編） - Python

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- pandas等、利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（"!pip install ライブラリ名"でインストールも可能）
- 処理は複数回に分けても構いません
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
import psycopg2
from sqlalchemy import create_engine
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
# from imblearn.under_sampling import RandomUnderSampler # conda install -c conda-forge imbalanced-learn

df_customer = pd.read_csv("./data/customer.csv")
df_category = pd.read_csv("./data/category.csv")
df_product = pd.read_csv("./data/product.csv")
df_receipt = pd.read_csv("./data/receipt.csv")
df_store = pd.read_csv("./data/store.csv")
df_geocode = pd.read_csv("./data/geocode.csv")

/Users/miwa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 演習問題

---
> P-031: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本標準偏差を計算し、降順でTOP5を表示せよ。

In [3]:
df_receipt.groupby('store_cd').amount.std(ddof=0).reset_index().sort_values('amount', ascending=False).head(5)

   store_cd      amount
28   S13052  663.391816
31   S14011  553.456916
42   S14034  544.903736
5    S13001  543.536561
12   S13015  543.409938

---
> P-032: レシート明細データフレーム（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

In [13]:
df_receipt.amount.quantile([0, 0.25, 0.5, 0.75, 1.0]).reset_index()

   index   amount
0   0.00     10.0
1   0.25    102.0
2   0.50    170.0
3   0.75    288.0
4   1.00  10925.0

---
> P-033: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

In [15]:
df_receipt.groupby('store_cd').amount.mean().reset_index().query('amount >= 330')

   store_cd      amount
1    S12013  330.194130
5    S13001  348.470386
7    S13003  350.915519
8    S13004  330.943949
12   S13015  351.111960
16   S13019  330.208616
17   S13020  337.879932
28   S13052  402.867470
30   S14010  348.791262
31   S14011  335.718333
38   S14026  332.340588
46   S14045  330.082073
48   S14047  330.077073

---
> P-034: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [27]:
# 正規表現が苦手だ...
# この問題はわかりませんでした
df_list = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_list.amount.mean()

4039.5509811002767

---
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは10件だけ表示させれば良い。

In [29]:
df_list = df_receipt.groupby('customer_id').amount.sum().reset_index()
average = df_list.amount.mean()
df_list.query('amount >= @average')

         customer_id    amount
13    CS001214000009      4685
14    CS001214000017      4132
17    CS001214000052      5639
33    CS001305000011      4370
73    CS001412000160      5646
98    CS001414000048      8584
104   CS001414000098      4404
105   CS001414000113      6343
106   CS001414000126      4739
109   CS001414000172      5394
128   CS001415000102      6497
133   CS001415000126      4238
135   CS001415000136      5170
146   CS001415000275      5041
166   CS001415000480      6635
186   CS001415000754      4126
290   CS001515000320      5815
331   CS001605000006      5169
332   CS001605000009     18925
354   CS001615000201      5100
385   CS002214000043      8073
386   CS002214000049      6402
464   CS002414000010      4067
468   CS002414000035      6111
473   CS002414000059      4133
476   CS002414000070      5384
477   CS002414000107      5307
488   CS002414000213      4493
489   CS002414000214      6051
507   CS002415000045      4046
...              ...       ...
8128  CS040515000096      6505
8129  CS040515000110      5009
8130  CS040515000117      4782
8131  CS040515000146      4433
8132  CS040515000174      4301
8134  CS040515000214      5446
8135  CS040515000225     14867
8138  CS040605000007      8146
8151  CS040615000030      4051
8159  CS040615000114      4260
8169  CS041115000001      7341
8171  CS041411000001      9694
8172  CS041414000001      8007
8181  CS041514000002      4116
8182  CS041514000004      4045
8185  CS041515000001      5926
8186  CS041515000003      7449
8198  CS042515000008      6485
8207  CS043212000001      4331
8218  CS043415000010      6707
8222  CS043513000026      4900
8226  CS043515000005      4660
8235  CS044412000002      5439
8240  CS044414000004      6938
8241  CS044415000001      8556
8242  CS044415000006      4655
8269  CS046415000005      4429
8285  CS048415000017      4484
8292  CS049513000008      4450
8306  ZZ000000000000  12395003

[1814 rows x 2 columns]