# データサイエンス100本ノック（構造化データ加工編） - Python

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- pandas等、利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（"!pip install ライブラリ名"でインストールも可能）
- 処理は複数回に分けても構いません
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
import psycopg2
from sqlalchemy import create_engine
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler # conda install -c conda-forge imbalanced-learn

df_customer = pd.read_csv("./data/customer.csv")
df_category = pd.read_csv("./data/category.csv")
df_product = pd.read_csv("./data/product.csv")
df_receipt = pd.read_csv("./data/receipt.csv")
df_store = pd.read_csv("./data/store.csv")
df_geocode = pd.read_csv("./data/geocode.csv")

/Users/miwa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
/Users/miwa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 演習問題

---
> P-051: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"日"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"日"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

In [4]:
pd.concat([df_receipt[['receipt_no', 'receipt_sub_no']],
           pd.to_datetime(df_receipt['sales_epoch'], unit='s').dt.strftime('%d')],axis=1).head(10)

   receipt_no  receipt_sub_no sales_epoch
0         112               1          03
1        1132               2          18
2        1102               1          12
3        1132               1          05
4        1102               2          21
5        1112               1          05
6        1102               2          05
7        1102               1          22
8        1112               2          04
9        1102               1          10

---
> P-052: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2000円以下を0、2000円超を1に2値化し、顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [6]:
df_tmp = df_receipt[~df_receipt['customer_id'].str.startswith("Z")].groupby('customer_id').amount.sum().reset_index()
df_tmp['amount_num'] = df_tmp['amount'].apply(lambda x: 0 if x <= 2000 else 1)
df_tmp.head(10)

      customer_id  amount  amount_num
0  CS001113000004    1298           0
1  CS001114000005     626           0
2  CS001115000010    3044           1
3  CS001205000004    1988           0
4  CS001205000006    3337           1
5  CS001211000025     456           0
6  CS001212000027     448           0
7  CS001212000031     296           0
8  CS001212000046     228           0
9  CS001212000070     456           0

---
> P-053: 顧客データフレーム（df_customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に２値化せよ。さらにレシート明細データフレーム（df_receipt）と結合し、全期間において買い物実績のある顧客数を、作成した2値ごとにカウントせよ。

In [18]:
df_tmp = pd.concat([df_customer['customer_id'], df_customer['postal_cd'].apply(lambda x: 1 if int(x[:3]) <= 209 else 0)], axis=1)
df_tmp
pd.merge(df_receipt, df_tmp, on='customer_id', how='left')

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount,postal_cd
0,20181103,1257206400,S14006,112,1,CS006214000001,P070305012,1,158,0.0
1,20181118,1258502400,S13008,1132,2,CS008415000097,P070701017,1,81,1.0
2,20170712,1215820800,S14028,1102,1,CS028414000014,P060101005,1,170,0.0
3,20190205,1265328000,S14042,1132,1,ZZ000000000000,P050301001,1,25,NaN
4,20180821,1250812800,S14025,1102,2,CS025415000050,P060102007,1,90,0.0
5,20190605,1275696000,S13003,1112,1,CS003515000195,P050102002,1,138,1.0
6,20181205,1259971200,S14024,1102,2,CS024514000042,P080101005,1,30,0.0
7,20190922,1285113600,S14040,1102,1,CS040415000178,P070501004,1,128,0.0
8,20170504,1209859200,S13020,1112,2,ZZ000000000000,P071302010,1,770,NaN
9,20191010,1286668800,S14027,1102,1,CS027514000015,P071101003,1,680,0.0
10,20190918,1284768000,S14025,1182,2,CS025415000134,P070401002,1,138,0.0
11,20171010,1223596800,S14021,1162,1,CS021515000126,P040402001,1,228,0.0
12,20180506,1241568000,S13039,1112,1,CS039414000052,P059001019,1,428,1.0
13,20190326,1269561600,S13016,112,1,CS016215000032,P091401190,1,780,1.0
14,20180329,1238284800,S12014,1122,1,ZZ000000000000,P050104001,1,115,NaN
15,20170116,1200441600,S13002,1112,1,ZZ000000000000,P080803001,1,100,NaN
16,20190621,1277078400,S13044,1142,2,ZZ000000000000,P040102001,1,268,NaN
17,20181225,1261699200,S13020,1172,2,ZZ000000000000,P071401002,1,1100,NaN
18,20190603,1275523200,S14026,1182,1,CS026515000042,P070504016,1,188,0.0
19,20190606,1275782400,S13044,1122,1,ZZ000000000000,P071102002,1,190,NaN
20,20180924,1253750400,S14034,1102,1,CS034415000121,P050101003,1,138,0.0
21,20180617,1245196800,S14040,1132,1,CS040414000073,P070202032,1,208,0.0
22,20170306,1204761600,S14026,1142,1,CS026414000062,P050101001,2,80,0.0
23,20180711,1247270400,S13041,1182,1,ZZ000000000000,P071001084,1,218,NaN
24,20180903,1251936000,S13015,1162,2,CS015414000118,P060303001,1,148,1.0
25,20180405,1238889600,S14045,1132,1,ZZ000000000000,P080602001,1,208,NaN
26,20190810,1281398400,S14034,1122,1,CS034414000034,P071302003,1,318,0.0
27,20170829,1219968000,S12029,112,1,ZZ000000000000,P071001042,1,102,NaN
28,20170227,1204070400,S13017,1162,2,ZZ000000000000,P090401012,1,120,NaN
29,20170329,1206748800,S12029,1192,2,CS029415000133,P060104001,1,70,0.0
...,...,...,...,...,...,...,...,...,...,...
104651,20180723,1248307200,S14022,1102,2,CS022515000184,P071002003,1,88,0.0
104652,20190808,1281225600,S13020,1192,1,ZZ000000000000,P071302001,1,280,NaN
104653,20190608,1275955200,S13035,1192,2,CS035415000071,P070702048,1,141,1.0
104654,20191001,1285891200,S13044,1112,1,ZZ000000000000,P090808001,1,80,NaN
104655,20180626,1245974400,S13035,1132,2,ZZ000000000000,P060501016,1,398,NaN
104656,20170730,1217376000,S13005,1102,2,CS005515000093,P071401018,1,2200,1.0
104657,20170713,1215907200,S14010,1162,1,ZZ000000000000,P070407023,1,198,NaN
104658,20190628,1277683200,S13008,1162,1,ZZ000000000000,P050303020,1,248,NaN
104659,20180223,1235347200,S13035,1162,1,CS035413000181,P040301001,1,248,1.0
104660,20190530,1275177600,S14040,1152,1,CS040512000128,P040301003,1,278,0.0
104661,20170119,1200700800,S13008,1152,1,CS008415000264,P070308014,1,248,1.0
104662,20191024,1287878400,S14011,1132,2,CS011411000001,P071401001,1,1100,0.0
104663,20190826,1282780800,S13052,1152,2,ZZ000000000000,P080202010,1,90,NaN
104664,20170610,1213056000,S12013,1132,1,ZZ000000000000,P080901002,1,950,NaN
104665,20180227,1235692800,S13019,1172,2,CS019415000193,P040502002,1,278,1.0
104666,20170330,1206835200,S13017,1112,1,CS017411000016,P071401013,1,2200,1.0
104667,20180401,1238544000,S13018,1102,2,ZZ000000000000,P071001001,1,48,NaN
104668,20190607,1275868800,S14040,1192,1,ZZ000000000000,P060102001,1,70,NaN
104669,20190726,1280102400,S14006,1122,1,CS006615000114,P071301002,1,2485,0.0
104670,20180101,1230768000,S12030,1192,2,CS030515000128,P080401002,1,80,0.0
104671,20180131,1233360000,S14010,1102,1,CS010414000008,P060103003,1,150,0.0
104672,20180721,1248134400,S13043,1192,2,ZZ000000000000,P059001015,1,308,NaN
104673,20181217,1261008000,S13004,1142,2,CS004515000066,P059001016,1,308,1.0
104674,20190911,1284163200,S14046,1182,1,CS046415000017,P070703003,1,98,0.0
104675,20190430,1272585600,S13041,1122,1,ZZ000000000000,P070503012,1,100,NaN
104676,20180221,1235174400,S13043,1132,2,ZZ000000000000,P050101001,1,40,NaN
104677,20190911,1284163200,S14047,1132,2,ZZ000000000000,P071006005,1,218,NaN
104678,20170311,1205193600,S14040,1122,1,CS040513000195,P050405003,1,168,0.0
104679,20170331,1206921600,S13002,1142,1,CS002513000049,P060303001,1,148,1.0
104680,20190423,1271980800,S13016,1102,2,ZZ000000000000,P050601001,1,138,NaN

---
> P-054: 顧客データデータフレーム（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに抽出せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。結果は10件表示させれば良い。

In [51]:
def convert_prefectures(x):
    if  x == '埼玉県':
        return 11
    elif x == '千葉県':
        return 12
    elif x == '東京都':
        return 13
    else:
        return 14

df_tmp = df_customer['address'].str[:3].apply(convert_prefectures).reset_index()
df_tmp = pd.concat([df_customer[['customer_id', 'address']], df_customer['address'].str[:3].apply(convert_prefectures).reset_index()], axis=1)
df_tmp.head(10)

      customer_id                 address  index  address
0  CS021313000114    神奈川県伊勢原市粟窪**********      0       14
1  CS037613000071      東京都江東区南砂**********      1       13
2  CS031415000172     東京都渋谷区代々木**********      2       13
3  CS028811000001  神奈川県横浜市泉区和泉町**********      3       14
4  CS001215000145     東京都大田区仲六郷**********      4       13
5  CS020401000016      東京都板橋区若木**********      5       13
6  CS015414000103      東京都江東区北砂**********      6       13
7  CS029403000008      千葉県浦安市海楽**********      7       12
8  CS015804000004      東京都江東区北砂**********      8       13
9  CS033513000180  神奈川県横浜市旭区善部町**********      9       14

---
> P-055: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額と合計ともに表示せよ。カテゴリ値は上から順に1〜4とする。結果は10件表示させれば良い。
>
> - 最小値以上第一四分位未満
> - 第一四分位以上第二四分位未満
> - 第二四分位以上第三四分位未満
> - 第三四分位以上

In [79]:
categories = df_receipt.groupby('customer_id').amount.sum().quantile([0, 0.25, 0.5, 0.75, 1.0]).reset_index().amount

def label_amount(x):
    if x < categories[0] :
        return 1
    elif categories[0] <= x < categories[1]:
        return 2
    elif categories[1] <= x < categories[2]:
        return 3
    else:
        return 4

df_tmp = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_tmp['amount_label'] = df_tmp.amount.apply(label_amount)
df_tmp.head(10)

      customer_id  amount  amount_label
0  CS001113000004    1298             3
1  CS001114000005     626             3
2  CS001115000010    3044             4
3  CS001205000004    1988             4
4  CS001205000006    3337             4
5  CS001211000025     456             2
6  CS001212000027     448             2
7  CS001212000031     296             2
8  CS001212000046     228             2
9  CS001212000070     456             2